/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.site-container{
	width: 1200px;
	margin: 0 auto;
}
nav{
	height: 70px;
	position: fixed;
	background: white;
	width: 100%;
	background: #f1f1f1;
}
.nav-links{
	width: 1200px;
	margin: 0 auto ;
	
}
.nav-links a{
	display: inline-block;
	color: #363636;
	text-decoration: none;
	padding: 20px 20px 20px 0px;
	margin-right: 30px;
	vertical-align: middle;
}
.nav-links a:last-child{
	margin-right: 0;
}

.logo{ 
	vertical-align: middle;
	float: right;
	margin-top: 15px;
}
.banner{
	height: 600px;
	text-align: center;
}
.banner div {
	margin: 100px 100px;;
	display: inline-block;
}
.banner div h1{
	text-align: center;
	font-size: 96px;
	margin-top: 100px;
}
.banner div img{
	width: 120%;
}
.cta{
	font-size: 24px;
	color: black;
	text-decoration: none;
	border: solid 2px black;
	padding: 5px 60px;
}
.row{
	margin-top: 20px;
}
.item-2-col{
	display: inline-block;
	width: 590px;
	font-family: 'Roboto', sans-serif;
}
.item-3-col{
	width: 396px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}
.middle-img{
	width: 100%;
	
}
.footer-content{
	margin-top: 30px;
}
.footer-content .copyright{
	text-align: center;
	padding: 20px;

}