/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

h2 {
	font-size: 24px;
}

/* Your code starts here! */
body {
	width: 880px;
	margin: auto;
}

.block {
	position: relative;
	width: 100%;
}

/* nav */
nav {
	display: inline-block;
	text-align: center;
	height: 60px;
	padding: 20px 0px px 0px;
}

.nav_button {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #1d1d1d;
	margin: 25px 20px;
	position: relative;
	border: none;
	outline: none;
}

.nav_button:hover {
	opacity: .3;
}

#navbar {
	overflow: hidden;
  }

.logo {
	float: right;
	padding: 15px 0px 0px 0px;
}

/* call to action */
.cta {
	position: relative;
}
.cta .cta_text {
	display: inline-block;
	vertical-align: top;
	font-size: 80px;
	margin: 100px 0px;
	text-align: center;
	padding: 0px 60px;
	width: 55%;
}

.cta .cta_text button {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	background: white;
	vertical-align: top;
	margin-top: 5px;
	padding: 10px 50px;
	font-size: 18px;
	border: 1px solid black;
	cursor: pointer;
}

.cta .cta_text button:hover {
	background: black;
	color: whitesmoke;
}

.cta_image {
	/* display: inline-block; */
	position: absolute;
	top: 50px;
	right: 0px;
}

/* content */
.content {
	position: relative;
}

.content .content_above {
	display: inline-block;
	width: 420px;
	margin: 1% 1% 2% 1%;
	padding: 25px 0; 
	line-height: 20px;
}

.content .content_below {
	display: inline-block;
	width: 274px;
	margin: 1% 8px 2% 8px;	
	padding: 25px 0px;
	line-height: 20px;	
}

/* address and footer */
footer {
	padding: 25px 0px 0px 0px; 
}

#copyright {
	text-align: center;
	padding: 35px 0px;
}