
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
		font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.main-container {
	width: 90%;
	margin: auto;
}

.main-header {
	width: 100%;
	padding: 15px;
	background-color: #323D4F;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.main-nav, .main-logo {
	display: inline-block;
	vertical-align: middle;
}
.main-nav {
	width: 75%;
	text-align: left;
}
.main-logo {
	width: 22%;
	text-align: right;
}
.main-logo img {
	width: 250px;
	height: auto;
}
.nav-item {
	display: inline-block;
	margin: 0 45px 0 45px;
}
.nav-item a {
	text-decoration: none;
	color: silver;
}
.nav-item a:hover {
	border-bottom: solid 1px silver;
}

main {
	margin-top: 150px;
}

.overview-img {
  width: 100%;
  animation: moveMe 1.5s 1s linear;
}
.overview-section h2 {
  font-size: 2.5rem;
  margin-top: 40px;
}
hr {
  width: 100%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: none;
	border: solid .5px black;
	box-shadow: .5px .5px .5px .5px rgba(0, 0, 0, .2);
}
h3 {
  font-size: 1.2rem;
}
.main-body-section {
  margin: auto;
  text-align: center;
}
.sec-one-box, .sec-two-box, .sec-three-box {
  border: solid 1px black;
  display: inline-block;
  width: 49%;
  text-align: left;
  margin: 20px 0 20px;
  padding: 15px;
  background: #F4F3F4;
}
.sec-one-box.first, .sec-two-box.first, .sec-three-box.first {
  margin: 0 30px 0 0;
}
.main-body-section p {
  margin-bottom: 20px;
}
.main-body-section button {
  background: white;
  padding: 7px 30px 7px 30px;
  border: solid 1px black;
  border-radius: 5px;
}
.main-body-section button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
}

.facts-section {
  margin: 40px 0 40px 0;
}
.facts-description, .facts-section img {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
.facts-description {
  margin: 0 50px 0 0;
}
.facts-description p {
  margin: 20px 0 20px;
}
.facts-description li {
  margin: 10px 0 10px;
  list-style-type: square;
  list-style-position: inside;
}
.facts-section img {
  width: 800px;
}
footer {
  text-align: center;
  margin: 80px 20px 40px;
}



@keyframes moveMe {
	0% {
		transform: translateX(0);
	}
	10% {
		transform: translateX(250px);
	}
	20% {
		transform: translateX(-250px);
	}
	30% {
		transform: translateX(200px);
	}
	40% {
		transform: translateX(-200px);
  }
  50% {
    transform: translateX(150px);
  }
  60% {
    transform: translateX(-150px);
  }
  70% {
    transform: translateX(100px);
  }
  75% {
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(50px);
  }
  90% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}