/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	background: #ECEBE9
}
.main-container {
	margin: 0 auto;
	width: 800px;
	background-color: #A4EDE5;
}	

section {
	margin: 20px 0px;
}

header section {
		display: block;
		
}

header .top-bar {
	position: fixed;
	top: 0;
	width: 800px;
	margin-top:0;
	margin-bottom: 20px;
	padding-bottom: 15px;
	background-color: rgba(239, 129, 136, 1);
}

.top-bar nav {
	display: inline-block;
	margin-right: 40px;
	vertical-align: 50%;
}

.top-bar nav a {
	color: white;
	text-decoration: none;
	padding-right: 40px;
	font-size: 16px;
}

.top-bar .logo {
	display: inline-block;
}

header .upper {
	border-bottom: 1px solid black;
	margin-top: 50px;
}

header .upper-left {
	display: inline-block;
	margin: 50px 25px;
	padding: 0 50px ;
	text-align: center;
	vertical-align: text-bottom;
}

header .upper-right {
	display: inline-block;
	margin: 50px 0;
	padding: 50px 0;
}

h1 {
	font-size: 60px;
	color: white;
}

.upper-left button {
	font-size: 16px;
	color: white;
	border: 2px solid white;
	background-color: black;
	padding: 5px 40px;	
}

main {
	border-bottom: 1px solid black;
}

main section {
	display: block;
}

p {
	font-family: 'Roboto', sans-serif;
}

.middle-top p {
	font-size: 16px;
	width: 48.5%;
	display: inline-block;
	margin: 25px 10px 25px 0;
}


.middle-top h2 {
	border-bottom: 1px solid black;
	display: inline-block;
	position: absolute;
	margin-bottom: 25px;
}

.middle-img {
	display: block;
	width: 800px;
	opacity: 0.75;
}
.middle-bottom p {
	font-size: 16px;
	width: 31.5%;
	display: inline-block;
	margin: 25px 10px 25px 0;
}

.middle-bottom h2 {
	border-bottom: 1px solid black;
	display: inline-block;
	position: absolute;
	margin-bottom: 25px;
}

footer {
	height: 100%;
}
footer section {
	text-align: center;
}

footer h2 {
	margin: 25px 0 10px;
	text-decoration: underline;
}
footer .contact-info {
	margin-top: 0;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
}

footer h5 {
	font-size: 12px;
	border-top: 1px solid black;
	padding-top: 25px;
}
