*{
/* all selector */    
}
body{
     border: 1px solid #000!important;
      padding:10px;
}
 .nav li {
/* targets unordered list and creates class "nav"*/
    font-size: 16px;
    color:lightgrey;
    text-decoration: none;
    padding: 20px;
    display:inline-block;
    font-family:serif;
    list-style-type: none;
}

a{
   text-decoration: none; 
    font-family:serif;
    color:lightgrey;
}

.row {
    display:flex;
    
}

.column{
    flex:50%;
    padding:10px;
    
}

#row-2{
  display:flex;  
    width:25%;
}

#column-2{
    flex:50%; 
}

h1 { font-family: "Arial Black", "Arial Bold", sans-serif; 
    font-size: 49px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 49px; 
    letter-spacing: -5

}
span{
    float: right;
    width: 50%;
    margin-top: -161px;
}


a.container, .btn-get-started, .btn-gets-tarted-white:hover {
    color:#000!important;
    background-color: #fff!important;
    border: 1px solid #000!important;
    margin-left: 65px;
    height: 30px;
    width: 200px;
}