/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

p {
    font-family: 'Open Sans', sans-serif;
}

strong {
    font-weight: bold;
}

/**********
* Layout *
**********/

main {
    margin: 0 auto;
    width: 85%;
}

footer {
    padding-bottom: 8vh;

    text-align: center;
}

/* Navbar Layout */

#navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

.primary-nav {
    display: inline-block;
    padding: 3vh 0;
}

.nav-link {
    padding: 3vh 3.5vw;
}

#logo {
    float: right;
    padding: 2vh 0;
    width: 15%;
}


/**********
* Modules *
**********/

/* Navbar Styling */

#navbar {
    background: #E2ECDA;
}

.nav-link {
    color: #4A4A4A;
    text-decoration: none;
}


/********
* State *
********/

@media screen and (max-width: 990px) {
    .nav-link {
        padding: 3vh 2.5vw;
    }

    #logo {
        padding: 2.75vh 0;
    }
}

@media screen and (max-width: 710px) {
    .nav-link {
        padding: 3vh 1.5vw;
    }

    #logo {
        padding: 3vh 0;
    }
}