/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

*{
	box-sizing:border-box;
 	margin:0;
  	padding:0;
	max-width:100%;
	border:1px solid red !important;
}

hr {
	display: block;
	height: 1px;
	border-top: 1px solid black;
	margin: 2em 0;
}

body { 
	background: white;
	margin: 0% 10%;
}

nav {
	background-color: rgb(9, 182, 9);
	width: 100%;
	margin: 0 auto;
	white-space: nowrap;
	position: sticky;
}

.navbar {
	/* display: ??  */
	display: inline-block;
	width: 10%;
	margin: 0.7%;
	font-size: 15px;
	text-align: center;
	color: white;
}

.navbar:hover {
	color: rebeccapurple;
	background-color:orangered;
	border: dashed black;
}

.left{
	width: 48%;
	margin: 0% auto;
	padding: 0 0 0 0;
	display: inline-block;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.button {
	display: inline-block;
	text-align: center;
	padding: 1% 3%;
	border: 1px black solid;
	background-color: rgb(9, 182, 9);
	font-size: 24px;
	color: white;
}

.button:hover{
	background-color: rebeccapurple;
	cursor: pointer;
}

.right{
	width: 48%;
	margin: 0 auto;
	padding: 5% 10%;
	display: inline-block;
}

h1{
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	font-style: italic;
}

h2 {
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	font-style: italic;
}

.box1{
	display: inline-block;
	width: 48%;
	margin: 0.5%;
	font-size: 20px;
}

.middle-img {
	display: inline-block;width: 100%;
	margin: 4% 0 4% 0;
}

.box2 {
	display: inline-block;
	width: 32%;
	margin: 0.44%;
	font-size: 20px;
}

.contact {
	text-align:center;
	font-size: 24px;
	font-weight: bold;
}

footer {
	text-align: center;
}