/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	margin-right: 35px;
	margin-left: 35px;
}


.topSide {
	display: inline-block;
	text-align: center;
	margin-left: 35%;
	margin-top: 2%;

}

.Jumbo {
	display: block;
	float: left;
	padding: 5%;
	margin-top: 6%;
	font-size: 70px;
	text-align: center;
	margin-left: 20%;
}

#top{
	margin-top: 10%;
	margin-left: 15%;
}

button{
	border-radius: 10px;
}
.hola{
	border-top: solid black 1.5px;
	margin-top: 5%;
}

.bodyMain .bodyChild {
	display: inline-block;
	margin-left: 10%;
	width: 20%;
	padding: 2%;
	text-align: center;
}


.bodyMain .body3{
	display: inline-block;
	margin-left: 10%;
	width: 20%;
	padding: 2%;
	margin-top: 5%;
	text-align: center;
}

.bodyMain .body4{
	display: inline-block;
	margin-left: 8%;
	width: 20%;
	padding: 2%;
	margin-top: 5%;
	text-align: center;
}
.bodyMain .bodySon{
	display: inline-block;
	margin-left: 8%;
	width: 20%;
	padding: 2%;
	margin-top: 5%;
	text-align: center;
}
.bodyMain .body2{
	display: inline-block;
	margin-left: 35%;
	width: 20%;
	padding: 2%;
	text-align: center;
}


.footer1{
	margin-top: 5%;
	margin-bottom: 5%;
}

#segunda{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 5%;
}
.raja2{
	border-top: solid black 1.5px;
}

h5{
	display: block;
	margin-left: 42%;
	margin-right: auto;
	width: 50%;
}