/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

div {
	display: inline-block;
}

.menu a:link {
	padding-right: 30px;
	margin-right: 30px;
	font-size: 14px;
	text-decoration: none;
	color: gray;
}

.menu a:hover {
	text-decoration: underline;
}

img {
	padding-top: 5px;
	padding-bottom: 5px;
}

footer p {
	font-size: 14px;
}

/******** CONTAINERS **********/
.site-container {
	width: 100%;
	padding: 3px;
}

.top-container {
	width: 100%;
}
.codecircle-slogan-container {
	width: 100%;
}

.middle-container {
	width: 100%;
	padding: 30px 0 40px 0;
	border-top: 2px solid black;
}

.services-container {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 30px;
	border-bottom: 2px solid black;
	
}
/************ END CONTAINERS ************/

.get-started-button {
	padding: 2px 42px 2px 42px;
}

.menu {
	width: 100%;
	padding-bottom: 25px;
	vertical-align: middle;
}

.big-box {
	padding-top: 10px;
	padding-bottom: 40px;
	width: 49.8%;
	vertical-align: top;	
}

.big-box h1 {
	font-size: 75px;
	text-align: center;
}

.features-about-boxes {
	width: 48.5%;
	padding-top: 10px;
	padding-bottom: 20px;
}

.services-product-vision-boxes {
	width: 32.8%;
	padding-top: 3px;
	padding-bottom: 3px;	
}

#logo-image {
	vertical-align: middle;
	padding-left: 30px;
}

#slogan {
	vertical-align: bottom;
	margin-bottom: 65px;	
}

#codecircle {

}

#codecircle img {
	display: block;
	margin-left: auto;
	/*margin-right: auto;*/
}

#middle-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#features {
	margin-right: 10px;
}

#about {
	margin-left: 10px;
}

#copyright {
	font-size: 12px;
	text-align: center;
}


