/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Pacifico", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

.container {
  width: 60%;
  margin: 0 auto;
}

/* section base properties */

section {
  width: 100%;
  padding: 40px 0;
}

/* header */
header {
  background-color: dodgerblue;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 50px;
}
nav {
  width: 80%;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
}
nav a {
  margin: 0 10%;
  color: #bbb;
  text-decoration: none;
  font-size: 1em;
}

nav a:hover {
  font-size: 1.4em;
  color: black;
}
nav:first-child a {
  margin-left: 0;
}

.logo {
  background-image: url("../img/logo.png");

  display: inline-block;
  height: 36px;
  width: 183px;
}

/* Intro */
.intro {
  padding: 80px 0;
}
.cta {
  width: 45%;
  height: 100%;
  display: inline-block;
  font-size: 80px;
  text-align: center;
  padding: 0 10%;
  margin: 0 20% 5% 0;
}

.cta button {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid black;
  display: inline-block;
  font-family: "Pacifico", cursive;
  font-size: 16px;
  padding: 9px 50px;
  position: relative;
  top: -30px;
  transition: top 0.5s ease-out, box-shadow 3s ease, background-color 0.25;
}

.cta button:hover {
  background-color: dodgerblue;
  box-shadow: 10px 50px 25px 10px rgba(100, 100, 100, 0.3);
  position: relative;
  top: -38px;
  transition: top 0.5s ease-out, box-shadow 1s ease, background-color 0.25s;
}

.code {
  background-image: url("../img/header-img.png");
  display: inline-block;
  top: 35px;
  position: relative;
  width: 379px;
  height: 379px;
}

/* Information */
.information {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.two-col-text {
  display: inline-block;
  width: 45%;
  margin-left: 9%;
}

div .first {
  margin: 0;
}

.middle-img {
  background-image: url("../img/mid-page-accent.jpg");
  width: 100%;
  margin: 40px 0;
}

.three-col-text {
  display: inline-block;
  width: 30%;
  margin-left: 4.6%;
}

/* Contact */
.contact {
  margin-bottom: 20px;
}
address a {
  line-height: 3;
}

.copywrite {
  text-align: center;
  padding: 40px 0;
}
