/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

.d {
  width: 300px;
  height: 200px;
  margin: 20px;
  box-sizing: border-box;
  display: inline-block;
}

.div1 {
  width: 300px;
  height: 200px;
  margin: 30px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 200px;
  padding-left: 20px;
}

.logo {
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
}
.logo a {
  padding-right: 80px;
  margin-left: 60px;
  color: #b3b3b3;
  text-decoration: none;
  line-height: 100px;
}

.block2 {
  display: inline-block;
  width: 500px;
  margin-left: 10px;
}

.section-two {
  justify-content: center;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

.section-one button {
  border: 1px solid black;
  padding: 10px 30px;
  margin-left: 180px;
  font-size: 1rem;
}

.section-one div {
  padding-top: 50px;
  margin-left: 200px;
}

.circle-img {
  width: 300px;
}

.feat-about {
  padding-top: 10px;
  margin-left: 270px;
}

#hr2 {
  margin-top: 50px;
  width: 1200px;
  margin-right: -9x;
}

.middle-img {
  margin-left: 450px;
  margin-top: -50px;
}

.section-twosub {
  margin-left: 400px;
  box-sizing: border-box;
  margin-top: 40px;
}

hr {
  margin-top: 20px;
  width: 1200px;
  margin-right: -9x;
}

footer {
  margin-top: 100px;
  margin-left: 150px;
  height: 200px;
}

#copyright {
  margin-top: 100px;
  margin-left: 600px;
  height: 150px;
}

header div {
  background: #e3e3e3;
}

header nav a:hover {
  color: green;
}
