/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
* {
	box-sizing: border-box;
}

.container{
	width: 1024px;
	margin: 0 auto;
}

header {
	border: 1px solid red;
	width: 100%;
	height: 100px;
	position: relative;
	padding: 5px;
}
nav {
	display: inline-block;
}

header nav a{
	border: 1px solid green;
	padding: 10px;
	margin: 10px;
	vertical-align: middle;
}
header .logo{
	display: inline;
	position: absolute;
	right: 0;
	border: 1px solid blue;
}

.section-one{
	display: inline-block;
	width: 100%;
}

.section-one .left .right h1{
	width: 45%;
	display: inline-block;
	position: relative;
}

.line{
	background: black;
	height: 2px;
	width: 100%;
	margin-top: 20px;
}


/*
body{
	margin-left: 10px;
	margin-right: 10px;
}

nav{
	vertical-align: center;
	width: 100%;
	padding: 1%;
}

.logo{
	width: 20%;
	padding-left: 2%;
	vertical-align: middle;
}

ul{
	display: inline-block;
	width: 12%;
	text-align: center;
	vertical-align: middle;
}

header{
	display: inline-block;
	width: 100%;
	padding: 4%, 0, 4%, 0;
	vertical-align: middle;
}

.header-img{
	width: 49%;
	display: inline-block;
	vertical-align: middle;
}

.header-text{
	width: 49%;
	display: inline-block;
	align-items: center;
	vertical-align: middle;
}

.button{
	display: inline-block;
	width: 35%;
	margin-left: 38%;
}

button{
	width: 150px;
}

h1{
	font-size: 60px;
	text-align: center;
}

.line{
	background: black;
	height: 2px;
	width: 100%;
	margin-top: 20px;
}

h2 {
margin-top: 20px;
}

.two {
	display:inline-block;
	width: 49%;
}

p{
	font-size: 13px;
	padding: 10px, 0px;
	margin-bottom: 15px;
}
.middle-img{
	width: 100%;
}

.three {
	display: inline-block;
	width: 32.5%;
	padding: 10px;
}

.contact{
	margin-top: 10px;
}
.copyright{
	margin:20px;
	text-align: center;
	font-size: 10px;
} */
