/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h5 {
    font-family: 'Modak', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

h4 {
	font-family: 'Modak', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	font-size: 25px;
}

p {
	font-family: 'Modak', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	font-size: 50px;
	text-align: center;
	padding-top: 100px;
}

/* Your code starts here! */

/* NAVIATION SECTION */
nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: antiquewhite;
}
.nav_class  {
	display: inline-block;
	margin: 1%;
	width: 12%;
	vertical-align: middle;
	color: gray;
}

/* .nav a {
	display: inline-block;
} */

.logo {

}
/* HEADER SECTION */

.header_sections {
	margin: 1%;
	width: 100%;
	padding-top: 100px;
}

.header_divs {
	display: inline-block;
    vertical-align: top;
    margin: 1%;
	width: 47.5%;
	vertical-align: middle;
    /* min-width: 250px; */
}

.header_box{
	margin: 1%;
	width: 98%;
	/* vertical-align: middle; */
}

.header_text {
	font-family: 'Modak', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
	font-size: 100px;
	text-align: center;
}

.header_button {
	border: 1px solid black;
	margin: auto;
	text-align: center;
	width: 200px;
	padding: 10px 30px 10px 30px;
}

.header_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	/* background-color: red; */
}
/* CONTENT SECTION 1 */

hr {
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	}

.section1 {
	margin: 1%;
	width: 100%;
}

.section1_div {
	display: inline-block;
	margin: 1%;
	width: 47.5%;
}

/* CONTENT SECTION 2 */

.section2 {
	margin: 1%;
	width: 100%;
}

.section2_div {
	display: inline-block;
	margin: 1%;
	width: 31%;
}

#section_image {
	width: 97%;
	margin: 2%;
	/* width: 100%; */
	background-image: url("../img/mid-page-accent.jpg");
	background-repeat: repeat;
	background-position: center;
	background-attachment: scroll;
	background-size: cover;
	height: 250px;
	
}


/* CONTACT SECTION */

.contact_section {
	margin: 2%;
}
/* FOOTER SECTION 1 */

.footer_class {
	text-align: center;
}