/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
a{
	box-sizing: border-box;
	margin-top: 20px;
	color: grey;
	margin: 20px;
  }
  a:hover{
	color: red;
  }
  .logo{
	box-sizing: border-box;
	margin-left: 570px;
	margin-top:-100px;
	width: 150px;  
  }
  h1{
	box-sizing: border-box;
	margin-top: 100px;
	margin-left:100px;
	text-align: right;
	width: 50px;
	font-size: 50pt;
  }
  h3{
	box-sizing: border-box;
	margin-left: 120px;
	text-align:center;
	height: 30px;
	width:150px;
	padding: 7px;
	border: 2px solid black;
  }
  h3:hover{
	background-color: grey;
  }
  .code{
	margin-left: 500px;
	margin-top: -270px;
	box-sizing: border-box;
	height:300px;
	border-radius: 50%
  
  }
  .info{
	box-sizing:border-box;
	margin-top: 50px;
  }
  .features{
	box-sizing: border-box;
	text-align: left;
	width: 430px;
	height: 100px;
  }
  .about{
	box-sizing: border-box;
	width: 430px;
	height: 100px;
	margin-left: 500px;
	margin-top: -100px;
  }
  .middle-img{
	box-sizing:border-box;
  
  }
  .services{
	box-sizing: border-box;
	width: 280px;
   
  }
  .product{
	box-sizing: border-box;
	width: 280px;
	margin-left: 350px;
	margin-top: -120px;
	
  }
  .vision{
	box-sizing: border-box;
	width: 280px;
	margin-left: 700px;
	margin-top: -127px;
  }
  
  footer{
	box-sizing:border-box;
	margin-top: 100px;
  }
  .line{
	box-sizing:border-box;
	border: .5px solid black;
	margin-top: 100px;
	width: 1000px;
  }
  h5{
	box-sizing:border-box;
	margin-top: 50px;
  }
  span{
	box-sizing:border-box;
	margin-left: 500px;
	margin-bottom: 100px;
  }
  
  
  