/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */

.clearfix {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

body {
	margin: 3rem;
}

.nav-ul {
	text-align: center;
	margin: 20px auto; /* Vertical  Horizontal */
}


.nav-item {
	display: inline-block;
	margin: 0 3%;
}

.nav-link {
	color: #333;
	text-decoration: none;
}

.nav-item-logo {
	vertical-align: middle;
}

@media only screen and (min-width: 800px) {
	.nav-item-logo {
		margin: 5rem 0;
	}
}


.hero-section {
	text-align: center;
	padding: 5rem;
	border-bottom: 1px solid black;
}

.hero-text, .hero-image {
	display: inline-block;
	margin: 0 3rem;
	text-align: center;
}

.hero-text {
	position: relative;
	bottom: 100px;
}

.hero-text h1 {
	font-size: 54px;
}

.hero-text button {
	display: inline;
	padding: 0.5rem 3rem;
	font-size: 16px;
	cursor: pointer;
}

.main-content {
	margin: 3rem;
}

.features, .about {
	display: inline-block;
	width: 49%;
	padding: 20px 0;
}

.main-content img {
	margin: 0 0 1rem 0;
	width: 100%;
}

.three-columns div:nth-of-type(1) {
	margin: 0;
}

.three-columns div {
	margin: 1rem 0;
}

.services, .product, .vision {
	display: inline-block;
	width: 33%;
	padding: 0 10px 0 0;
}

.address {
	border-top: 1px solid black;
	margin-bottom: 1rem;
}

.address address {
	margin: 0 3rem;
}

.address-first {
	margin-top: 1rem;
}

.copy-right {
	text-align: center;
}
