/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

*{
    box-sizing: border-box;
}

p{
    line-height: 1.4;
}

.container{
	width: 60%;
	margin: 0 auto;
}

.nav-container{
    background-color: white;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
}
nav {
    margin-top: 1%;
    position: fixed;
    padding-left: 120px;
    width: 100%;
 }
.logo {
    margin: 1%;
	position: fixed;
	right: 28%;
}
a{
    display: block;
    float: left;
    padding: 10px 2%;
    color: dodgerblue;
    text-decoration: none;
    text-align: center;
}
a:hover{
    padding: 10px 2%;
    color: white;
    background-color: dodgerblue;
    text-decoration: none;
}

h1{
	font-size: 70px;
    text-align: center;
	
}

.sector{
    margin-top: 9%;
    margin-bottom: 12%;
}
.box1{
    width: 30%;
	display: inline-block;
    margin-right: 15%;
    margin-left: 10%;
    text-align: center;
}
.box{
    height: 350px;
    width: 350px;
    display: inline-block;
    margin: 0 0 -1000px
}

.img-test{
    width: 290px;
    height: 290px;
}

strong{
    border: 1px solid black;
    padding: .5% 12%;
}

.divider{
    border: 1px solid black;
    margin: 4% 0;
}

.first-section{
    display: inline-block;
    width: 50%;
}
.second-section{
    display: inline-block;
    width: 49.6%
}
.c1{
    margin: 3% 0; 
}

.middle-img{
    width: 100%;
}

.third-section{
    width: 33%;
    padding-right: 12px;
    display: inline-block;
    
}

.fourth-section{
    width: 33%;
    padding-right: 12px;
    display: inline-block;
    
}
.fifth-section{
    width: 33%;
    padding-left: 12px;
    display: inline-block;
    
}

.c2{
    margin: 3% 0; 
    width: 100%;
}

.copyright{
    text-align: center;
    padding: 20px 0;
}

