/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	margin: 0 auto;
	width: 66%;
}
nav a {
	display: inline-block;
	margin-right: 75px;
	text-decoration: none;
	margin-bottom: 25px;
}
.logo {
	display: inline-block;
	}
header div.innovation {
	display: inline-block;
	margin: 20px;
	padding: 75px;
}
header img {
	display: inline-block;
	margin-left: 15px;
	width: 35%;
}
h1 {
	font-size:70px;
	text-align: center;
	margin-bottom: 10px;
}
header div button{
	text-align: center;
	margin-left: 100px;
}
.top_section {
	border-top: 1px solid black;
	padding-top: 25px;
	padding-bottom: 25px;
}
section div.features {
	display: inline-block;
	width: 425px;
	margin-right: 15px;
}
section  div.about {
	display: inline-block;
	width: 425px;
}
.middle_imag {
	
}
.middle_section{
	 border-bottom: 1px solid black;
	 margin-bottom: 25px;
}
section div.services{
     display: inline-block;
	 width: 275px;
	 margin-right: 15px;
	 margin-bottom: 20px;
	 margin-top: 20px;
}
section div.product{
	 display: inline-block;
	 width: 275px;
	 margin-right: 15px;
	 margin-bottom: 20px;
}

section div.vision{
	 display: inline-block;
	 width: 275px;
}
.section_bottom{
margin-bottom: 25px;
}
footer{
	padding-bottom: 50px;
}
footer p {
     text-align: center
}