/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
* {
	box-sizing:border-box;
  	padding:0;
  	margin:0;
 	max-width:100%;
}
/* ==== NavBar ====*/
.navbar{
	display: inline;
	margin: 0% 30%%;
	height: 2%;
	width: 0% auto;
	padding: 0% 9%
	
	
}
a {
	padding: 3%;
	width: auto;
	color: slategray;
	text-decoration-line: none;
}

img{
	margin-left: 10%;
	margin-right: 0%;
	margin-top: 1%

}
/* ========= Header =========== */



.title{
	display: inline-block;
	margin: 0% 0% 10% 15%;
	

}
.topblock {
	width: 47%%;

}

.title h1 {
	font-size: 80px;
	text-align: center;
	padding-left: 10%;
	padding-bottom: 10%;
}

.title button{
	font-size: 20px;
	margin-left: 36%;
	padding-bottom:	40%;
	padding: 1%;
	border: 3px outset slategray;
}

.title button:hover{
	border: 3px inset slategray;
}

.title-img{
	display: inline;
	margin-left: 10%;
	padding-top: 10%;


}

.title-img img {
	padding: 5%;
	margin-top: 1%;
}

/* ========== Middle Body ==========*/

.mainbody {
	margin: 0% 5%;
	padding: 5%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 90%;
}

.mainbody .top-left  {
	display: inline-block;
	width: 47%;
}

.mainbody .top-right {
	display: inline-block;
	width: 47%;

}

.middle-img {
	margin: 5%;
	padding-left: 8%;
}

.mainbody .bottom-left {
	display: inline-block;
	width: 32%;
}

.mainbody .bottom-middle {
	display: inline-block;
	width: 32%;
}

.mainbody .bottom-right {
	display: inline-block;
	width: 32%;
}

 /* ========== Footer ========== */

 footer {
	 margin: 5% 10%;
 }

 #copyright {
	 margin-left: 40%;
	 margin-top: 5%;
 }