/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

.navbar {
  display: inline-block;
  width: 100%;
  height: 90px;
  vertical-align: top;
  position: relative;
  position: fixed;
  z-index: 1000;
  background: rgba(120, 166, 240, 0.6);
}

.navbar a {
  position: relative;
  text-decoration: none;
  text-align: center;
  padding: 5%;
  color: gray;
  top: 10px;
  transition: all 0.2s;
}

a img {
  position: relative;
  top: 10px;
}

.navbar a:hover {
  color: black;
  font-weight: 1000;
}

h1 {
  font-size: 900%;
}

h3 {
  font-size: 300%;
}

p {
  font-size: 200%;
  margin-right: 1%;
}

.section-one {
  position: relative;
  display: inline-block;
  padding: 5%;
  width: 100%;
}

#cta {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 48%;
  margin: 1%;
  padding: 4%;
}

.section-one img {
  position: relative;
  display: inline-block;
  right: 20%;
  margin-right: auto;
  width: 40%;
  left: 5%;
  text-align: center;
}

.ln-break {
  border: solid 2px black;
  margin: 0% 5%;
}

#btn {
  font-family: "Titillium Web", sans-serif;
  width: 40%;
  border: solid 1px black;
  background: white;
  font-size: large;
  transition: all 0.3s;
  box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.5);
}

#btn:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.about {
  display: inline-block;
  margin: 5%;
}

.about div {
  display: inline-block;
  width: 48%;
}

.middle-img {
  margin: 5%;
  width: 90%;
}

.services {
  display: inline-block;
  margin: 5%;
}

.services div {
  display: inline-block;
  width: 31%;
}

address {
  margin: 5%;
}

footer {
  margin: 5%;
  text-align: center;
}

.mg-btm {
  margin-bottom: 2%;
}
