/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
* {
		box-sizing: border-box;
}
body {
	margin-left: 50px;
	margin-right: 50px;
}
.navigation {
	padding: 20px;
	display: inline-block;
	width: 100%;
	height: 100px;
	background: white;
	position: fixed;
	border-bottom: black solid 1px;
}
.navigation a {
	margin: 20px;
	color: grey;
	font-size: 18px;
	text-decoration: none;
}
.navigation a:hover {
	text-decoration: underline;
}
.navigation img{
	position: absolute;
	right: 0;
	margin-right: 70px;
}

.mid {
	display: inline-block;
	width: 100%;
	padding: 50px;
	margin-top: 50px;
	border-bottom: solid;
}

.get-started {
	float: left;
	text-align: center;
	font-size: 85px;
	width: 50%;
}

.top-img {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.middle-img {
	text-align: center;
}

.features{
	display: inline-block;
	width: 50%;
	float: left;
	padding: 30px;
}
.about {
	display: inline-block;
	width: 50%;
	float: right;
	padding: 30px;
}
.post-img {
	position: relative;
	width: 1200px;
	height: 400px;
	padding: 30px;
	border-bottom: 1px solid black;
}
.post-img div {
	display: inline-block;
	width: 33%;
	padding: 15px 15px 15px 100px;
}
.post-img div p{
	display: inline-block;
}
.contact {
	display: inline-block;
	width: 100%;
}


h4 {
	font-weight: bold;
	font-size: 28px;
}
h6 {
	font-size: 12px;
	text-align: center;
}
p {
	font-size: 20px;
}
