/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Bangers", cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/********** Header **********/
header {
    position: relative;
    width: 100%;
    padding: 35px 75px 46px 75px;
}
header nav {
    display: inline-block;
}
header nav a {
    display: inline-block;
    padding-right: 66px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

header .logo {
    width: 183px;
}

/********** Intro **********/
.intro {
    display: inline-block;
    height: 488px;
    width: 100%;
    padding: 31px 75px 78px 75px;
    white-space: nowrap;
}

.intro .half-width {
    display: inline-block;
    width: 50%;
    height: 400px;
    vertical-align: top;
    white-space: normal;
    text-align: center;
}

.intro .half-width:last-child {
    text-align: right;
}

.intro h1 {
    display: inline-block;
    margin-top: 57px;
    width: 100%;
    font-size: 76px;
    letter-spacing: 4.5px;
    line-height: 74px;
}

.intro button {
    display: inline-block;
    width: 174px;
    font-family: TitilliumWeb-Regular;
    background: transparent;
    border: 1px solid #737373;
    font-size: 16px;
    color: #737373;
    letter-spacing: 1px;
    padding: 5px 0px;
}

/********** Main **********/
main {
    display: inline-block;
    width: 874px;
    margin-left: 75px;
}

main .rule {
    width: 100%;
    height: 1px;
    background-color: black;
    display: inline-block;
    margin-bottom: 34px;
}

main h2 {
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 13px;
}

main p {
    line-height: 18px;
}

.row {
    display: inline-block;
    width: 100%;
}

.col-50 {
    display: inline-block;
    width: 49%;
}

.col-50:last-child {
    margin-left: 13px;
}

main img {
    margin: 37px 0;
}

.col-33 {
    display: inline-block;
    width: 32%;
}

.col-33:first-child {
    margin-right: 13px;
}

.col-33:last-child {
    margin-left: 13px;
}

/********** Footer **********/
footer {
    display: inline-block;
    width: 100%;
    padding: 35px 75px 110px;
}

footer .rule {
    width: 100%;
    height: 1px;
    background-color: black;
    display: inline-block;
    margin-bottom: 34px;
}

footer h2 {
    line-height: 1;
}

footer address {
    line-height: 18px;
    margin-bottom: 15px;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

footer a:last-of-type {
    margin-top: 12px;
}

footer .row {
    padding-top: 47px;
    text-align: center;
}
