/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
* {
    box-sizing: border-box;
}


header nav a {
	display: inline-block;
	margin-right: 50px;
	margin-top: 5px;
	
  }
    
.container {
	max-width: 900px;
	  margin: auto;
	  background: white;
	  padding: 10px;
  }
  
p {
	margin-bottom: 50px;
	display: inline-block;
  }
  
.big {
	position: absolute;
	display: inline-block;
	text-align:center;
	height: 383px;
	width: 373px;
	font-size: 70px;
	padding: 50px;
}
 
  
header .logo {
	display: inline-block;
	position: absolute;
	margin-left: 650px;
  }
  
  
  
header nav {
	display: inline-block;
	margin-top: 40px;
}

header nav a {
	margin: 0 20px;
}

header .logo {
	margin-top: 35px;
	margin-left: 140px;
	vertical-align: top;
	display: inline-block;

}


header .png {
	margin-top: 35px;
	margin-left: 600px;
	vertical-align: top;
	display: inline-block;
	float: right; 
}

.img-container {
	float: left;
	width: 33.33%;
	padding: 5px;
}

section {
	white-space: wrap;
	width: 24%;
	margin: 1%;
}

section .contact {
	margin: auto;
	display: inline-block;
	font-size: 15px;
}


footer {
	width: 100%;
	height: 200px;
	padding: 20px 0;
	margin-left: 550px;
}
