/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

body {
  width: 1000px;
  margin: 0px auto;
}

.navigation {
  display: inline-block;
  width: 1000px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: lightgray;
  z-index: 1;
}

.navigation a {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  color: grey;
  margin: 10px 30px 10px 40px;
}

.navigation img {
  display: inline-block;
  float: right;
}

header {
  height: 380px;
  margin-bottom: 60px;
}
header .left-content {
  position: relative;
  width: 600px;
  height: 379px;
  display: inline-block;
  text-align: center;
  padding-top: 70px;
}

header h1 {
  font-size: 70px;
  width: 400px;
  text-align: center;
  margin: 0px auto;
}

header img {
  float: right;
}

header .button {
  border: 2px solid grey;
  display: inline-block;
  font-size: 20px;
  padding: 5px 30px 5px 30px;
}

header .button a {
  text-decoration: none;
  color: black;
}

.divider {
  border: 1px solid black;
  height: 2px;
  border-radius: 2px;
  margin-bottom: 30px;
}

.middle {
  padding-bottom: 30px;
}

.middle .middle-left {
  width: 480px;
  display: inline-block;
  margin-right: 20px;
}

.middle .middle-right {
  width: 490px;
  display: inline-block;
}

h1 {
  font-size: 25px;
}
p {
  font-family: "Noto Serif", serif;
  font-size: 25px;
  display: inline-block;
  /* width: 450px; */
  margin-left: 20px;
}

.middle-img {
  width: 1000px;
  height: 200px;
  padding-bottom: 30px;
}

.bottom {
  margin-bottom: 30px;
}

.bottom .bottom-left {
  display: inline-block;
  width: 310px;
  margin-right: 31px;
}

.bottom .bottom-middle {
  display: inline-block;
  width: 310px;
  margin: 0px auto;
}

.bottom .bottom-right {
  margin-left: 30px;
  display: inline-block;
  width: 310px;
}

.contact {
  margin-bottom: 80px;
}

.contact h2 {
  font-size: 30px;
}

address {
  font-size: 20px;
}

footer {
  text-align: center;
  font-size: 15px;
  margin-bottom: 80px;
  font-weight: bold;
}

/* finished */