/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {

	width: 1016px;
	margin: auto;
	padding: 20px 70px 0px 70px;
	margin-top: 76px;

}

.logo {

	display: inline-block;
	float: right;
	margin-top: -10px;
	padding-right: 10px;

}

.header-img {

	display: inline-block;
	float: right;
	margin: 6% 0;

}

.middle-img {

	margin: 40px 0px;

}

.header-text {

	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
	padding: 5% 0px 10% 0px;
	text-align: center;

}

.features {

	width: 49%;
	display: inline-block;
	float: left;

}

.about {

	width: 49%;
	display: inline-block;
	float: right;

}

.services {

	width: 33%;
	display: inline-block;
	float: left;

}

.product {

	display: inline-block;
	width: 32%;
	margin-left: 1%;
	margin-right: 0.5%;
	margin-bottom: 50px;

}

.vision {

	width: 33%;
	display: inline-block;
	float: right;

}

.contact {

	border-top: 1px solid black;
	padding-top: 40px;

}

.ml-0 {

	padding-left: 0px;

}

.copyright {

	font-family: 'Charmonman', cursive;

}

nav {

	padding: 25px 0px 20px 20px;
	width: 876px;
	height: 76px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -438px;
	background-color: rgba(234, 7, 255, 0.9)

}

header {

	height: 520px;
	width: 100%;
	border-bottom: 1px solid black;
	margin-bottom: 40px;

}

a {

	text-decoration: none;
	color: grey;
	padding: 0px 41px;

}

a:hover {

	color: white;

}

h1 {

	font-size: 78px;

}

h2 {

	font-size: 20px;

}

button {

	border: 1px solid black;
	padding: 10px 50px;
	background-color: white;

}

button:hover {

	background-color: yellow;

}

footer {

	padding-top: 50px;
	height: 200px;
	text-align: center;

}
