/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/*header*/

.container {
	width: 1000px;
	margin: auto;
	padding: 40px;
}

header nav {
	display: inline-block;
}

header nav a {
	margin: 60px;
	margin-left: 0;
	text-decoration: none;
	color: LightGray;
}

header img {
	margin-bottom: -10px;
}

/* cta */

.cta {
	margin-left: 70px;
}

.cta img {
	display: inline-block;
    height: 400px;
	margin: 50px 0px 50px 100px;
}

h1 {
	font-size: 70px;
    text-align: center;
    height: 330px;
    margin-right: 30px
}

.cta-text button {
	display: block;
	margin: 0 auto;
	position: relative;
	top: -8rem;
    left: -1rem;
	height: 30px;
    width: 130px;
    background-color: white;
    border: 1px solid;
    color: black;
    font-family: inherit;
}

.cta-text {
	display: inline-block;
	text-align: center;
}

/* main content */

.main-content {

	display: inline-block; width: 96%;  
	border-top: 1px solid black;
}

.top-text{
	display: inline-block;
	margin-bottom: 40px;
	margin-top: 40px;
}

.features {
	display: inline-block;
	width: 50%;
	float: left;
	clear: none;
}

.about {
	display: inline-block;
	width: 50%;
	float: left;
	clear: none;
}

.middle-image {
	width 96%;
}

/* bottom content */

.bottom-content {
	display: inline-block;
	margin-top: 40px;
	width: 96%;
}

.bottom-text {
	display: inline-block;
	margin-bottom: 40px;
}

.services {
	display: inline-block;
	width: 33%;
}

.product {
	display: inline-block;
	width: 33%;
}
.vision {
	display: inline-block;
	width: 33%;
}

/* contact */

.contact {
	border-top: 1px solid black;
	text-align: left;
	width: 96%
}

footer .contact h4 {
	margin-top: 40px;
}

.copyright {
	text-align: center;
	font-family: arial;
	font-size: 12px;
	margin-top: 40px;
}