/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body{
	margin: 0px 75px 75px 75px;
}

nav {
	position: fixed;
	background: blue;
	width: 1755px;
}

nav a{
	display: inline-block;
	margin: 25px 125px 25px 70px;
	text-decoration: none;
	color: lightgray;
	vertical-align: middle;
}

.logo {
	display: inline-block;
	margin: 15px 0px 15px 30px;
	vertical-align: middle;
	width: 200px;
	height: 50px;
}

header h1 {
	display: inline-block;
	font-size: 125px;
	text-align: center;
	margin: 100px 25px 10px 350px;
	vertical-align: middle;
}
button {
	border: 1px solid black;
	padding: 10px 50px;
	font-size: 13px;
}

header img {
	display: inline-block;
	width: 750px;
	height: 750px;
	vertical-align: middle;
	margin-left: 100px;
	margin-top: 150px;
}

hr {
	margin-top: 85px;
	margin-bottom: 50px;
}

.top-content div {
	display: inline-block;
	width: 49.9%;
}

.middle-img {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}

.bottom-content div {
	display: inline-block;
	width: 33%;
	margin-top: 30px;
}

footer {
	text-align: center;
	margin-bottom: 100px;
	margin-top: 50px;
}