/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 975px;
	padding: 25px;
	margin: auto;
	border: 1px solid black;
}

header nav {
	display: inline-block;
	margin-top: 42px;
    margin-bottom: 64px;
}

header .logo {
	margin-left: 80px;
}

header nav a {
	margin: 0 28px;
    text-decoration: none;
    color: gray;
    font-size: 14px;
    font-weight: 45%;
}

.getStarted .intro {
    display: inline-block;
    margin-right: 74px;
	margin-left: 74px;
}

.getStarted img {
    vertical-align: top;
    margin-left: 20px;
    margin-bottom: 64px;
}

.intro h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 56px;
}

button {
	display: inline-block;
	text-align: center;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    color: black;
	background-color: white;
	padding: 2px 36px;
	border: 1px solid black;
    margin-left: 72px;
}


.topContent {
    margin: 20px;
    padding-bottom: 5px;
    padding-top: 35px;
    position: relative;
    border-top: 1px solid black;
    column-count: 2;
}

.bottomContent {
    margin: 20px;
    padding-top: 5px;
    padding-bottom: 35px;
    position: relative;
    border-bottom: 1px solid black;
    column-count: 3;
}

.middle-img {
    margin: 20px;
    position: relative;
}

.contact {
    margin-left: 20px;
}

footer {
    margin: 45px 25px;
    text-align: center;
}


