/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	width: 900px;
	margin: 0 auto;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 20px;
}
nav a {
	color: grey;
    display: inline-block;
    width: 100px;
    padding: 15px;
}
.logo {
	margin: 0 0 0 90px;
	vertical-align: middle;
}
header {
	padding: 20px;
}
.header-text {
	display: inline-block;
	width: 450px;
	text-align: center;
	vertical-align: middle;
}
button {
	width: 140px;
    height: 25px;
    border: 1px solid black;
    background: white;
}
#header-image {
	display: inline-block;
	vertical-align: middle;
}
.content {
	display: inline-block;
	padding: 0 5px;
}
.top-content, .bottom-content {
	display: inline-block;
	padding: 30px 0px;
}
.top-content {
	border-top: 1px solid black;
}
.top-content .content {
	width: 49%;
}
.middle-image {
	margin: 0 auto;
    display: block;
}
.bottom-content {
	border-bottom: 1px solid black;
}
.bottom-content .content {
	width: 33%;
}
.contact {
	padding: 30px 0;
}
#phone-number {
	margin: 20px 0;
}
footer {
    text-align: center;
    margin: 0 0 100px;
}