/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	margin: 15px;
}
nav .menu {
	display: inline-block;
}
nav .logo {
	display: inline-block
}
nav a{
	color: grey;
	margin: 20px;
	text-decoration: none;
	text-align: center;
}
body > header {
	border-bottom:1px solid black
}
header .header-txt {
	display: inline-block;
    width: 49%;
    text-align: center;
    height: 300px;
    vertical-align: text-bottom;
}

header .rnd-img-cont {
	display: inline-block;
	width: 49%;
	height:100%;
}

h1 {
	text-align: center;
	display: inline-block;
	font-size: 400%;
	
}
.rnd-img {
	display: inline-block;
}
header .button {
	border: 1px solid black;
	display: block:
	padding-top: 50px:
	padding-left: 100px;
	width: 35%;
    margin-left: 32%;
}