/* Base styles */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    width: 1000px;
    margin: 0 auto;
}

body>hr {
    width: 92%;
}

/* Navigation styles */

.nav__list-items>li,
.nav__list-items {
    display: inline-block;
}

.nav__list {
    width: 100%;
    margin: 0 auto;
}

.nav__list-items {
    vertical-align: text-bottom;
    font-size: 1.5rem;
    margin-left: 20%;
}

.nav__list-items>img {
    display: inline-block;
}

.nav__list-items>li>a {
    text-decoration: none;
    color: grey;
}

.nav__list-items>li {
    padding: 15px;
    margin-right: 2rem;
}

.nav__list-items>li:hover {
    background: black;
    transition: 2s;
}

.nav__list-items>li a:hover {
    color: aqua;
    transition: 2s;
}

/* Heading styles */

.header {
    position: relative;
    margin-bottom: 6rem;
    margin-top: 6rem;
    padding: 0 10rem;
}

.header__inner-div {
    display: inline-block;
    position: relative;
    bottom: 5rem;
    margin: 0 auto;
    width: 49%;
}

.header__inner-div h1 {
    font-size: 7.5rem;
}

.header img {
    display: inline-block;
    margin: 0 auto;
    width: 49%;
}

.header__btn {
    font-family: 'Titillium Web', sans-serif;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 3rem;
    padding: 1.5rem 5.5rem;
}

/* Content styles */

.div-content__container-top,
.div-content__container-bottom {
    display: inline-block;
    width: min-content;
}

.div-content__container-top>h2,
.div-content__container-bottom>h2 {
    font-size: 2rem;
}

.div-content__container-top>p {
    width: 400px;
    font-size: 1.4rem;
}

.div-content__container-bottom>p {
    font-size: 1.4rem;
}

.div-content__container-top {
    display: inline-block;
    width: 45%;
    margin-left: 4.6%;
    text-align: left;
    margin-top: 3rem;
}

.div-content__container-bottom {
    display: inline-block;
    width: 25%;
    margin-left: 5%;
    margin-bottom: 3rem;
}

.middle-img {
    display: block;
    margin: 0 auto;
}

/* Contact styles */

.contact>div>h2 {
    font-size: 2rem
}

.contact>div>address {
    font-size: 1.5rem;
}

/* Footer styles */

body>footer {
    text-align: center;
    font-size: 1.5rem;
}