/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 900px;
	margin: 0 auto;
	border: 1px solid red;
	box-sizing: border-box;
	vertical-align: top;
}

header {
	height: 60px;
	border: 1px solid rebeccapurple;
}

header nav {
	display: inline-block;
	margin-top: 20px;
	margin-right: 125px;
	height: 35px;
	

	border: 1px solid rgb(19, 91, 139);
}

header nav a {
	margin: 20px;
}

.logo {
	margin-top: 10px;
}

.content-double {
	display: inline-block;
}

.banner {
	border: 1px solid red;
}

.banner .banner-text {
	margin: 0 auto;
	text-align: center;
	vertical-align: top;
	display: inline-block;
	width: 49.5%;
	height: 400px;
	margin: 20px 0;
	border: 1px solid slategray;
}

.banner .banner-text#b-text {
	padding-top: 40px;
}

.banner .banner-text h1 {
	font-size: 80px;
	display: inline-block;
}

.banner .banner-text button {
	width: 170px;
	padding: 7px 0;
	font-size: 1.1em;
}

.main {
	vertical-align: top;
	border: 1px solid red;
}

.main .main-content {
	padding: 25px 10px;
}
.main .main-content {
	background: lightgreen;
	width: 49.5%;
	display: inline-block;
}

.pic-content .middle-img {
	padding: 10px 10px;
}

.content .content-triple {
	background: gray;
	width: 33%;
	display: inline-block;
	padding: 25px 10px;
}

.contact {
	padding: 25px 10px;
}

footer {
	text-align: center;
	margin: 20px 0;
	padding: 25px 0;
}