/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

h2, h3, h4, h5 {
    font-family: 'IM Fell English SC', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	font-size: 18px;
}

/* Your code starts here! */
.nav-container {
	margin: 15px 0 0 75px;
}

.navigation li {
	color: gray;
	margin: 0 60px 0 0px;
	display: inline-block;
	vertical-align: middle;
}

.navigation li a{
	text-decoration: none;
}

.navigation li a:hover{
	text-decoration: underline;
}

.custom-header {
	position: relative;
  	align-items: center;
	margin: 75px 0px 75px 75px;
	height: 385px;
	width: 880px;
}

.title-container {
	display: inline-block;
	position: absolute;
	left: 50px;
	width: 400px;
	height: 385px;
}

.title-text {
	font-size: 75px;
	text-align: center;
	padding: 50px 50px 5px 50px;
}

.button {
	border: 1px solid;
	width: 160px;
	padding: 5px;
	margin-left: 120px;
	text-align: center;
}

.button a {
	text-decoration: none;
	color: black;
}

.button a:hover {
	text-decoration: underline;
	color: black;
}

.cir-image {
	display: inline-block;
	position: absolute;
	right: 5px;
	margin-left: 50px;
}

hr {
	margin-left: 75px;
	width: 880px;
	border: .5px solid black;
}

.top-content {
	margin: 30px 0px 40px 75px;
}

.top-content .top-content-block {
	display: inline-block;
	width: 48%;
}

.middle-img {
	margin: 0px 75px;
}

.bottom-content {
	margin: 30px 0px 40px 75px;
}

.bottom-content .bottom-content-block {
	display: inline-block;
	width: 30%;
	margin-right: 20px;
}

.contact {
	padding: 30px 75px;
}

footer {
	text-align: center;
	margin-bottom: 100px;
}
