/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.all{
	margin: 0 0 0 5%
}
nav a{
	margin: 2% 10% 2% 0;
	text-decoration: none;
	color:gray;
}
nav img{
	margin: 0 5%;
	display:inline-block;
}
h1{
	font-size:120px;
	text-align: center;
	width: 35%;
	margin:13% 15% 2% 25%;
}
.sect1{
	display:inline-block;
	margin:1%;
}
.sect1 img{
	display: inline;
	position:absolute;
	top:10%;
	right:25%;
	width:30%;
}
.hard{
	display: inline-block;
	width:40%;
	font-size:20px;
	margin: 0 5% 5% 0

}
.notbad{
	display: inline-block;
	width:30%;
	font-size:20px;
	margin:5% 2% 5% 0;

}
.contact ul{
	margin:2%;
	font-size:20px;
}
footer{
	text-align: center;
	font-size:15px;
	margin: 5% 0 5% 0;
}
.button{
	width:120px;
	height: 30px;
	border: 2px gray solid;
	text-align: center;
	border-radius: 20px;
	margin: 0 0 10% 20%;
	color:gray;
}
.middle-img{
	width: 95%;
}
