/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	width: 1050px;
  margin: auto;
}

header {
	display: flex;
	align-content: start;
}

#header {
  text-align: center;
  display: inline-block;
}

.navigation a {
  color: gray;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  text-align: center;
  margin: 60px 10px 20px 30px;
}

.header_div {
  width: 800px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 50px;  
}

#innovation {
  text-align: center;
  display: inline-block;
}

h1 {
  font-size: 80px;
  float: left;
  margin: 60px 100px 0px 150px;
}

button {
  font-size: 16px;
  border: 1px solid grey;
  display: inline-block; 
  background: white;
  border: 1px solid;
  padding: 5px 50px 5px 50px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  border-radius: 3px;
}

button:hover {
	background-color: #4CAF50; 
	color: white;
  }

#image {
  float: right   
  margin: 0 0 0 200px;
}

.header-image {
  box-sizing: border-box;
  float: left;
}

.section {
  text-align: left;
  display: inline-block;
}

.h3 { 
  width: 375px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
  margin: 0px 30px 0px 85px;
}

.p {
  width: 375px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
  margin: 0px 30px 0px 85px;
}

#body-image {
  box-sizing: border-box;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin: 50px 80px 40px 80px;
}

.h3_2 {
  width: 245px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
  margin: 0px 0px 0px 75px;
}

.p2 {
  width: 245px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
  margin: 0px 0px 0px 75px;
}

#hr-top {
  border-top: 1px solid black;
  margin: 70px 95px 40px 80px;
}

#hr-bottom {
  border-top: 1px solid black;
  margin: 50px 85px 40px 75px;
}

#address {
  margin: 0px 0px 0px 70px;
}

#footer {
  text-align: center;
  margin: 30px 0px 80px 0px;
}