/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


                  /* Top Nav */

.containerhome {
	width: 85%;
	margin: 0 auto;
	box-sizing: border-box;
	border: 1px solid red;
}

.nav-header nav a {
	display: inline-block;
	margin: 50px; 
	align-content: center;
}

nav a {
	padding-top: 38px;
	align-content: center;
	text-decoration: none;
	color: lightgrey;
	text-align: center;

}

header nav .first-anchor {
	margin-left: 0;
}

.logo {
	border: 1px solid green;
	margin-left: 150px;
}

				 /* topsection */
				 
.topsection {
	display: inline-block;
	border: 1px solid green;
	width: 100%; 
	margin: 0 auto;

}

.textcontent  {
	display: inline-block;
	border: 1px solid blue;
	width: 49%;
	align-content: center;
	
}

h1 {
	font-size: 80px;
	padding: 55px;
	text-align: center;
	
}





button {
	text-align: center;
	border: 5px solid purple;
	align-content: center;
	background: white;
	width: 135px;
	padding: 5px;
	/* display: block; */
	
}

.circleimage {
	display: inline-block;
	border: 1px solid orange;
	width: auto;
	margin-left: 272px;
}

	/* mid content */
	
.middlecontent {
	width: 85%;
	margin: 0 auto;
	border: 1px solid green;
	border: 1px solid red;
}

.features {
	display: inline-block;
	width: 49%;
	border: 1px solid red;
	padding: 25px;
}

.about {
	display: inline-block;
	border: 1px solid red;
	width: 49%;
	padding: 25px;
}

.middleimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	
}

.bottomcontent {
	width: 85%;
	margin: 0 auto;
	align-items: center;
	border: 1px solid red;
}

.services {
	display: inline-block;
	width: 400px;
	height: 200px;
	padding: 15px;
	margin-right: 25px;
	
	border: 1px solid green;
}

.product {
	display: inline-block;
	border: 1px solid red;
	width: 400px;
	height: 200px;
	padding: 15px;
	margin-right: 25px;
}

.vision {
	display: inline-block;
	border: 1px solid red;
	width: 400px;
	height: 200px;
	padding: 15px;
}

footer {
	box-sizing: border-box;

}

.footernav {
	margin-left: 100px;
	padding: 25px;
}

footer p {
	text-align: center;
}