/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: inline-block;
}

body {
	line-height: 1;
	margin-top: 80px;
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

/* Your code starts here! */
/* importing another font family */

@import url('https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap');

html {
	margin: 0;
	padding: 0;
}

header {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
}

header * {
	display: inline;
}

header li {
	margin: 50px;

}

header li a {
	color: gray;
	text-decoration: none;
	margin-right: 20px;
}

.logo {
	margin-top: 10px;
	margin-left: 120px;

}

.logo-alt {
	display: inline-block;
	box-sizing: border-box;
	font-family: 'Bangers', cursive;
	height: 340px;
	width: 450px;
	margin-left: 280px;
	margin-right: 150px;
	margin-top: 90px;
	vertical-algin: top;
}

.logo-alt * {
	text-align: center;
	font-size: 100px;
	line-height: 100px;

}

.codesnippet {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	margin-top: 20px;
}

button {
	display: inline-block;
	text-decoration: none;
	background-color: white;
	border: 1px solid gray;
	margin-left: 430px;
	margin-bottom: 100px;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-right: 40px;
}

button:hover {
	background-color: black;
	color: white;
}

.mainBody {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 40px;
}

.mainBody * {
	display: inline-block;
	box-sizing: border-box;
	line-height: 15px;
}

.mainBody h3 {
	margin-bottom: 20px;
	font-family: 'Bangers', cursive;
}

.features {
	height: 110px;
	width: 480px;
	margin-right: 100px;

}


.about {
	height: 110px;
	width: 480px;
	margin-left: 100px;
	margin-right: 0px;
}

.middle-img {
	width: 95%;
	margin-left: 45px;
}

.services {
	height: 110px;
	width: 320px;
	margin-top: 20px;
	margin-bottom: 40px;
	margin-right: 80px;
}

.product {
	height: 110px;
	width: 320px;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 80px;
}

.vision {
	height: 110px;
	width: 320px;
	margin-top: 20px;
	margin-left: 80px;
}

.copyright {
	display: inline;
	margin-left: 45%;
}

#contact {
	font-family: 'Bangers', cursive;
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 40px;
}

#address1 {
	margin-left: 40px;
}

#address2 {
	margin-left: 40px;
	margin-bottom: 30px;
}
 
#phoneNumber {
	margin-left: 40px;
	margin-bottom: 30px;
}

#email {
	margin-left: 40px;
	margin-bottom: 40px;
}