/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/* This is all navigation related css code */
body {
	position: absolute;
}
.navigation {
	width: 85%;
}
.navigation nav {
width: 85%;
}
.navigation nav a {
	padding-left: 13%;
}
/* img Related code/images */
.imgs {
	width: 50%;
}
.imgs .logo {
	position: absolute;
	right: 5%;
	top: 0%;
}
.imgs .roundcode {
	position: absolute;
	right: 40%;
	top: 10%;
	height: 45%;
	width: 15%;
}
.imgs .middle-img {
	position: absolute;
	right: 35%;
	bottom: 17%;
}
/* header related code */
header {
	display: inline-block;
	width: 100%;
	height: 30%;
	position: absolute;
	bottom: 45%;
	background-color: transparent;
	border-bottom: 1px solid black;
}
header h1 {
	font-size: 80px;
	margin: 1%;
	height: 70%;
	width: 18%;
	position: absolute;
	
}
button {
	position: absolute;
	background-color: transparent;
	top: 45%;
	right: 75%;
	height: 4%;
	width: 6%;
}
/*footer related code*/
footer {
	position: absolute;
	width: 100%;
	height: 10%;
	top: 85%;
	background-color: gray;
	left: .2%;
}
footer .copyright {
	text-align: center;
}
.columns {
height: 10%;
width: 13%;

}
.columns .features {
	bottom: 30%;
	width: 10%;
	position: absolute;
	border-right: 1px solid black;
}
.columns .about {
	bottom: 30%;
	width: 10%;
	left: 11%;
	position: absolute;
}
.columns .services {
	width: 10%;
	bottom: 28%;
	right: 3%;
	position: absolute;
	border-left: 1px solid black;
	padding-left: 1%;
}
.columns .product {
	width: 10%;
	bottom: 28%;
	position: absolute;
	right: 13%;
	border-left: 1px solid black;
	padding-left: 1%;
}
.columns .vision {
	width: 10%;
	bottom: 30%;
	position: absolute;
	right: 23%;
}