/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.body{ 
	width: 870px;
	margin: 0 auto;
}
.top {
	width: 100%;
	background: white;
	letter-spacing: 3px;
	color: gray;
	border: 5px;
	padding: 2px;
text-align: center;
}
h2 {
	position: relative;
}
.nav-item{
	position: relative;
padding: 5px;

}
.nav-item a:hover{
	color:gray;;
	text-decoration: none; 
	padding-top: 5px solid yellow;
}
a:hover, a:active, a:link, a:visited {
	color:gray;;
	text-decoration: none;
}
.logo {
	position: relative;
	padding: 8px;
	border: 10px;
}
.button {
	background: gray;
	color: white;
	padding: 15px;
	border: 0px;
}
.slagon { 
	font-size: 50px;
	font-family: 'Bangers', cursive;
	column-count: 2;
	display: block;
	text-align: center;
	padding-top: 30px;
}
/* .slagon-img {
	text-align: right;
} */
.section1{
	border-top: 1px solid black;
	column-count: 2;
	padding: 10px;
	letter-spacing: 1px;
	line-height: 1;
}
.section2 {
	column-count: 3;
	padding: 15px;
	letter-spacing: 1px;
	line-height: 1;
}

.footer-line{
	border-top: 1px dashed black;
	padding: 15px;
}
.header-line{
	border-top: 1px solid black;
}

  