/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 12px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Your code starts here! */
*{
	box-sizing: border-box;
}

body{
	width:800px;
	margin: 0 auto;
}
.container{
	/* border: 1px solid red; */
	width: 800px;
	margin:0 auto;
	}

.Header{
	/* border: 1px solid blue; */
	width: 100%;
	display: inline-block;
	position: relative;
}

 div .Navshell {
	/* border: 1px solid blue; */
	width: 100%;
	display: inline-block;
	margin-top: 15px;
	line-height: 35px; 
}

nav{
	/* border: 1px solid purple; */
	/* background: lightgray; */
	position: fixed;
	display: inline-block;
	z-index: 1;
	}

div nav a{
	/* border: 1px solid green; */
	margin: 15px 15px 40px 15px;
	display: inline-block;
	text-decoration: none;
	color: grey;
	font-size: 12px;
	width: 60px;
	
}


.Header .imglogo{
	/* border: 1px solid purple; */
	display: inline-block;
	margin-right: 0px;
	/* margin-left: 40px; */
	padding-left: 40px;
	padding-top: 30px;
	position: absolute;
	/* left: 900px;
	top: 0; */

}

 .logo{
	/* border: 1px solid orange; */
	display: inline-block; 
	margin-right: 0;
	margin-left: 310px;
	padding-top: 30px;
	left: 625px;
	top: 0;
	position: absolute;
	background-image: url("img/logo.png");
 }

.section1{
	/* border: 1px solid purple; */
	margin-top: 60px;

	display: inline-block;
	position: relative;
	padding-top: 0;
	border-bottom: 3px solid black;
	width: 100%;
	padding-bottom: 25px;
}

button{
	text-align: center;
	display: block;
	width: 150px;
	height: 30px;
	margin-left: 55px;
	background: white;
	margin-top: 30px;
}

.content1{
	/* border: 1px solid red; */
	font-size: 70px;
	display: inline-block;
	width: 400px;
	text-align: center;
	padding-left: 70px;
	position: absolute;
	padding-top: 70px;
	text-align: justify;
}

h1{
	/* border: 1px solid red; */

}
h1 p{
	/* border: 1px solid green; */
	text-align: justify;
	font-size: 70px
  }

  
  h1 .On{
	  padding-left: 80px;
  }

  h1 .Demand{
	  padding-left: 40px;
  }

.content1image{
	/* border: 1px solid blue; */
	display: inline-block;
	margin-right: 0;
	margin-left: 200px;
	padding-left: 200px;
	width: 250px;
}

.snippet{
	
}

p{
	font-size: 12px;
}

.section2{
	margin-top: 15px;
	/* border: 1px solid red; */
  /* background: lightgray; */
  position: relative;
  height: 100px;

}

.main1{
	/* border: 1px solid yellow; */
	display: inline-block;
	width: 50%;
	height: 100px;
}

.main2{
	/* border: 1px solid purple; */
	display: inline-block;
	width: 50%;
	margin-right: 0;
	position: absolute;
	height: 100px;
}

.section3{
	
	display: block;
	width: 100;
}

.main3{
	
	
	width:100%;
	display: block;
}

.middle-img{
	
	display: block;
	width: 100%
}

.Section4{

	margin-top: 15px;
	display: inline-block;
	width: 100%;
	height: 100px;
	
	position: relative;
	padding: 20px;
	margin-bottom: 25px;
}

.Section4 .Services{

	width: 250px;
	
	right: 50px;
	display: inline-block;
	top: 0;
	bottom: 0;
	left:0;
	right:150px; 
	position: absolute;
}

.Section4 .Products{
	
	width: 250px;
	
	display: inline-block;
	top: 0;
	bottom: 0;
	left: 270px;
	right: 160px; 
	position: absolute;
}


.Section4 .Vision{

	width: 250px;
	
	display: inline-block;
	top: 0;
	bottom: 0;
	left: 550px;
	right: 0px; 
	position: absolute;
}


.bottomMain{
	border-top: 2px solid black;
	padding-top: 15px;
}

.copyright{
	text-align: center;
}

.bottomMain{
	margin-bottom: 50px;
}

footer{
	margin-bottom: 75px;
}