/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	width: 95%;
	margin: 0 auto;
}

/* wobble is from https://www.tutorialspoint.com/css/css_animation_wobble.htm */
@keyframes wobble {
   0% { transform: translateX(0%); }
   15% { transform: translateX(-25%) rotate(-5deg); }
   30% { transform: translateX(20%) rotate(3deg); }
   45% { transform: translateX(-15%) rotate(-3deg); }
   60% { transform: translateX(10%) rotate(2deg); }
   75% { transform: translateX(-5%) rotate(-1deg); }
   100% { transform: translateX(0%); }
}

nav {
	display: inline-block;
}

nav a {
	display: inline-block;
	color: gray;
	padding-right: 2em;
	text-decoration: none;
}

nav a:hover {
	animation-name: wobble;
	animation-duration: 3s;
}

.logo-div {
	display: inline-block;
	margin: 1em 0 1em 9em;
}

.hero {
	margin: 2em;
}

.headline {
	display: inline-block;
	text-align: center;
	margin: 2em;
}

.headline h1 {
	font-size: 5.5em;

}


.headline h4 {
	padding: 0.5em;
	border: 1px solid black;
	width: 50%;
	margin: 0 auto;
	font-family: 'Titillium Web', sans-serif;
}

/* Pulse is from https://www.tutorialspoint.com/css/css_animation_pulse.htm*/
@keyframes pulse {
   0% { transform: scale(1); }
   50% { transform: scale(1.1); }
   100% { transform: scale(1); }
}

.headline h4:hover {
	animation-name: pulse;
	animation-duration: 4s;
}

.header-img {
	display: inline-block;
	padding-left: 5px;
}

.top {
	border-top: 1px solid black;
	padding-top: 3em;
	margin-top: 5em;
}

#Features, #About {
	display: inline-block;
	width: 49%;
	margin-bottom: 2em;
}

.middle {
	width: 100%;
	margin-bottom: 3em;
}

.lower {
	border-bottom: 1px solid black;
	margin-bottom: 3em;
	padding-bottom: 3em;
}

#Services, #Product, #Vision {
	display: inline-block;
	width: 33%;
	padding-right: 0.5em;
	margin-top: 0.5em;
}

.address {
	line-height: 1.25em;
	margin-top: 1em;
}

.address a {
	text-decoration: none;
	color: black;
}


footer p {
	text-align: center;
}
