/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	margin: 0px auto 0px auto;
	width: 880px;
	font-size: 16px;
}
header {
	display:inline-block;
	width: 100%;
	position: relative;
	padding: 15px;
}
.navigation {
	width: 880px;
	top: 0px;
	position: fixed;
	z-index: 2px;
}
header nav a {
	display: inline-block;
	margin: 10px 28px 10px 28px;
	text-decoration: none;
	color: gray;
	font-size: 16px;
}
header nav a:first-of-type {
	margin-left: 0px;
}
header img {
	position: absolute;
	right: 0;
}
.contents {
	/* position: relative; */
	/* border: 1px solid red; */
	width: 880px;
	height: 440px;
	margin-top: 100px;
}
.left {
	display: inline-block;
	/* border: 1px solid red; */
	/*position: absolute;*/
	width: 49%;
	/* padding: 0px 0px 0px 0px; */
	margin-top: 60px;
	text-align: center;
}
.contents button {
	border: 1px solid black;
	background-color: white;
	padding: 0px 30px 0px 30px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 17px;
	font-weight: 400;
	height: 37px;
	width: 180px
}
.right {
	display: inline-block;
	/* border: 1px solid red; */
	/*position: absolute;*/
	width: 49%;
	/* padding: 30px 0px 30px 0px; */
	right: 0;
}
h1 {
	font-size: 76px;
	font-weight: 400;
}
h2 {
	font-weight: 400;
}
.main-content {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 45px;
	padding: 30px 0px 30px 0px;
}
.top-left {
	display: inline-block;
	width: 400px;
	margin-right: 12px;
}
.top-right {
	display: inline-block;
	width: 400px;
	margin-right: 12px;
}


.bottom-left {
	display: inline-block;
	width: 200px;
	margin-right: 12px;
}
.bottom-middle {
	display: inline-block;
	width: 200px;
	margin-right: 12px;
}
