/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	width: 80%;
	margin: 0 auto;
}

header {
	margin-top: 25px;
}

a {
	text-decoration: none;
	color: grey;
	padding-right: 100px;
	height: 100%;
}

nav {
	display: inline-block;
	height: 50px;
	width: 80%;
	vertical-align: top;
	padding-top: 10px;
}

.logo {
	display: inline-block;
}

.header-set {
	width: 60%;
	height: 500px;
	display: inline-block;
	vertical-align: top;
	padding-top: 60px;
}

.header-image {
	width: 500px;
	height: 500px;
	display: inline-block;
	margin-top: 40px;
}

h1 {
    font-size: 65pt;
	padding-right: 100px;
	padding-top: 50px;
	text-align: center;
}

button {
	border: 2px solid black;
	width: 200px;
	margin-left: 30%;
	margin-top: 10px;
	padding: 10px;
	font-size: 12pt;
}

.circle-image {
	margin-top: 30px;
	width: 90%;
	padding: 0 40px 100px 0;
}

.content {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.features, .about{
	width: 49.8%;
	line-height: 1.4;
	padding: 30px;
	display: inline-block;
}

.middle-img {
	width: 100%;
	margin: 15px 0px;
}

.services, .product, .vision {
	width: 33%;
	line-height: 1.4;
	padding: 30px;
	padding-bottom: 60px;
	display: inline-block;
}

.contact-info {
	padding-top: 50px;
}

address {
	line-height:3;
}

.location {
	line-height: 1.6;
}

.email {
	text-decoration: none;
	color: black;
}

footer p {
	text-align: center;
	padding-top: 50px;
	font-size: 10pt;
}