/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	margin: auto;
	margin-left: 20%;
	margin-right: 20%;
	padding: 10px;
	display: inline-block; 
	}

.navigation a {
	color: gray;
	margin: 0 10px;
	padding: 20px;
	text-decoration: none;
}

/*
.logo {
	
}
*/

body div section {
	
	display: inline-block;
}

.title h1 {
	font-size: 50px;
	margin: 50px;
	padding: 50px;
	width: 400px;
}

.button {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px 30px;
  text-align: center;
  font-size: 16px;
}

.top-image {
	display: inline-block;
	height: 300px;
	width: 300px;
  }

  .upper-section {
	display: inline-block;
	padding: 50px;
		
  }

  .features {
	width: 400px;
	display: inline-block;
	
  }

  .about {
	width: 400px;
	display: inline-block;
	
  }

  .middle-image {
	height: 50%;
	width: 100%;
  }

  .lower-section {
	display: inline-block;
	padding: 50px;
  }

  .services {
	width: 33%;
	display: inline-block;
  }

  .product {
	width: 33%;
	display: inline-block;
	
  }

  .vision {
	width: 33%;
	display: inline-block;
	
  }

 

  footer {
	  text-align: center;
  }