/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

nav{
	display: inline-block;
	padding-top: 20px;
  	padding-right: 50px;
	
}

nav a{
	display: inline-block;
	padding-top: 20px;
	padding-right: 50px;
	text-decoration: none;
	color: gray;
}

.navigation {
	width: 1100px;
	margin: 0 auto;
}


.logo {
	display: inline-block;
	padding-top: 30px;
  	padding-right: 120px;
	position: absolute;
	right: 20px;
	
}

.title {
	padding: 20px;
	position: relative;
}

.title-image {
	display: inline-block;
	padding: 20px;
}

.header-title{
	display: inline-block;
	font-size: 85px;
	width:60%;
	margin: 50px auto;
	text-align: center;
}

.title .header-title button{
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  
}


.middle {
	padding: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;	
}

.features-section{
  display: inline-block;
  width: 45%;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.about-section{
  display: inline-block;
  width: 45%;
  
}

.about-img{
  width: 100%;
  text-align: center;
}

.Products{
  display: inline-block;
  width: 30%;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.product-section {
  display: inline-block;
  width: 30%;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.vision-section{
  display: inline-block;
  width: 30%;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 50px;	
}

.contact{
  padding: 20px;
  width: 20%;
}

.footer-section{
  padding: 20px;
  text-align: center;
}


