/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
	margin-right: 20px;
	margin-left: 20px;
    padding: 0 150px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


.container {
	width: 900px;
	margin: 10px auto 20px 0;
}

nav {
	display: inline-block;
	margin-left: 20px;
}

nav a {
	padding: 20px;
}


.logo {
	margin-left: 130px;
}

.header {
	display: inline-block;
	margin-left: 130px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.hero {
	border-bottom: 1px solid #000;
	margin-bottom: 45px;
}

h1 {
	font-size: 60px;
	text-align: center;
}

.btn {
	border: 1px solid #000000;
	width: 100%;
	padding: 11px;
	text-align: center;
}

.image {
	display: inline-block;
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.section-features {
	display: inline-block;
	width: 49%;
	padding: 30px;
}

.section-about {
	display: inline-block;
	width: 49%;
	padding: 30px;
}

.middle-img {
	width: 100%;
	margin: 40px auto;
}

.row {
	border-bottom: 1px solid #000;
	margin-bottom: 45px;
	padding-bottom: 50px;
}

.section-services {
	display: inline-block;
	width: 33%;
	padding: 15px;
}

.section-product {
	display: inline-block;
	width: 33%;
	padding: 15px;
}

.section-vision {
	display: inline-block;
	width: 33%;
	padding: 15px;
}

.section-contact {
	padding: 15px;
	line-height: 2;
}

footer {
	text-align: center;
	margin: 60px auto 120px auto;
}
