/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/*Nav and logo.............*/
#main{
	margin: auto;
	max-width: 80%;
	border: 1px solid lightgrey;
	padding: 5px 10px;
}


nav{
	display: inline-block;
	padding-left: 20px;

}

nav a{
	text-decoration: none;
	color: lightgrey;
	padding-right: 60px;

}

.logo{
	display: inline-block;
	padding: 70px 0 5px 70px;
	align-items: right;

}


/*header and image..........*/
header{
	padding: 5% 0 5% 0;
}

header h1{
	font-size: 5em;
	text-align: center;
}

.header-text{
	display: inline-block;
	padding: 5px 20px 5px 80px ;
	max-width: 45%;
}

header img{
	display: inline-block;
	padding-left: 10%;
	margin: auto;
	max-width: 45%;
}

button{
	font-size: 1em;
	border: 1px solid grey;
	margin: auto;
	margin-left: 90px;
	padding: 5px 40px;
	border-radius: 5px;
}


.section-text-1 div{
	display: inline-block;
	max-width: 45%;
	text-align: left;
	padding: 30px;
}

.section-text-1{
	margin: auto;
	max-width: 100%;
	font-family: 'Roboto', sans-serif;

}

.middle-img{
	padding: 5px 30px;
	max-width: 100%;
}

.section-text-2 div{
	display: inline-block;
	max-width: 30%;
	text-align: left;
	padding: 30px;
	font-family: 'Roboto', sans-serif;

}

hr{ 
	max-width: 95%;
 }

 .contact{
 	padding: 30px;
 }

 footer{
 	padding:150px;
 	text-align: center;
 }
















