/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* Your code starts here! */
body {
  width: 905px;
  margin: auto;}

nav{
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: steelblue;
}

.nav{
  display: inline-block;
}

nav a {
  text-decoration: none;
  font-size: 14px;
	padding: 0px 70px 0px 0px;
	color: LightGray;
  margin-bottom: 20px;
  vertical-align: middle;
  margin: 50px 0px 50px 0px;
}

.logo{
  float: right;
  margin: 35px 0px 50px 0px;
}

.header {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  text-align: justify;
}

.title h1{
  font-size:75px;
  text-align:center;
  margin:0px 50px 0px 100px;
}

.title a{
  text-decoration: none;
  display: block;
  text-align: center;
  font-size:15px;
  color: Gray;
  padding: 6px 20px;
  border: 1px solid black;
  height:30px;
  width:150px;
  margin: 20px 20px 20px 180px;
}

.image1 {
  height:300px;
  width:10px;
  margin: 0px 70px;
}

.start{
  display:block;
  width:100px;
  height:20px;
}

.above {
  border-top: 1px solid black;
  padding-top: 40px;
  margin-top: 120px;
}

.top {
	display: inline-block;
  width:445px;
}

.middle-img{
  display:block;
  margin:30px 5px 30px 5px;
}
.bottom {
  display: inline-block;
  width:280px;
  padding-bottom: 40px;
  margin-right:10px;
}

.below {
  border-bottom: 1px solid black;
}

.contact h4 {
  padding-top: 40px;
}

.number {
  padding-top: 20px; padding-bottom: 20px;
}

footer{
  text-align: center;
  padding: 40px;
  font-size: 13px;
}