/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	font-family: 'Titillium Web', sans-serif;
	margin: 0 auto;
	width: 900px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


  .navigation a {
	margin: 0 10px;
	border: none;
	padding: 20px;
	display: inline-block;
	border-radius: 20px;
	color: gray;
	text-decoration: none;
	margin-bottom: 20px;
	background:none;
	
  }

  .navigation {
	width: 98%;
	
  }

  .header-words-button{
	font-size: 75px;
	text-align: center;
	margin-bottom: auto;
	}

 .banner {
	display: inline-block;
	width: 45%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 35px;
	}

   .button {
		border: 1px solid black;
		width: 200px;
		padding: none;
		margin-top: auto;
		height: 35px;
		font-size: 20px;
		background-color: white;
		
	}

 

  .top-content h1 {
	  font-size: 24px;
  }

.half {
	display: inline-block;
	width: 45%;
	margin: 15px;
	font-size: 23px;
}
  .middle-img {
	  text-align: center;
  }

.thirds {
	display: inline-block;
	width: 29%;
	margin: 15px;
	font-size: 23px;
}

  .bottom-content h1 {
	  font-size: 24px;
  }

 

  .contact {
	display: block;
	margin-top: 30px
  }

  .contact h1 {
	font-size: 24px;
  }

  .footer {
	background:none;
	display: block;
	text-align: center;
	margin-top: 30px;
  }