/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
    background-image: url("/img/mid-page-accent.jpg");
    background-size: cover;
}

.container {
    width: 530px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: rgba(0,0,0,0.5);
}

nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
    font-family: 'Staatliches', cursive;
    width: 100px;
}

nav a:hover {
    color: white;
}

nav a:hover:before {
    content: ">";
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #BDBDBD;
    line-height: 36px;
    display: block;
    transition: color 0.2s;
}

h1.sales-pitch {
    font-size: 35px;
    font-size: 35px;
    color: darkorange;
}

img.logo {
    display: block;
    background: cyan;
    margin-bottom: 30px;
}

img.code-circle {
    height: 300px;
    display: block;
    margin: 20px auto 0;
    animation-name: rotator;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotator {
    to {transform: rotate(-360deg);}
}

main {
    padding: 0 20px 80px 0;
    display: inline-block;
    color: white;
    width: 425px;
}

main p {
    padding: 5px;
}

footer {
    text-align: center;
    padding: 30px 0 100px;
    font-size: 14px;
    color: lightgray;
}

