/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
  color: white;
}

h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size: larger;
  color: grey;
}

/* My code starts here! */

/* nav bar */

.container {
  text-align: left;
  background-color: darkslategray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  overflow: hidden;
  width: 60%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 10px 50px 10px;
  margin: auto;
  box-shadow: inset 0 10px 20px 0 #000000;
}

div nav a {
  display: inline-block;
  text-shadow: 3px 3px 9px;
  text-decoration: none;
  border-radius: 10px;
  width: auto;
  border: 2px solid green;
  padding: 10px 10px 10px 10px;
  margin: 0px 20px 0px 20px;
  background: #656565;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#656565), to(#444));
  background: -moz-linear-gradient(#656565, #444);
  background: linear-gradient(#656565, #444);

  box-shadow: inset 0 0 0 1px #939393;
  color: #fff;
  text-shadow: 0 1px 0 #2f2f2f;
}

div nav a:hover {
  background: #4c4c4c;
  background: -webkit-gradient(
    linear,
    0 0,
    0 bottom,
    from(#4c4c4c),
    to(#565656)
  );
  background: -moz-linear-gradient(#4c4c4c, #565656);
  background: linear-gradient(#4c4c4c, #565656);
  box-shadow: inset 0 0 0 1px #818181;
}

div nav a:active {
  background: #474747;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#474747), to(#444));
  background: -moz-linear-gradient(#474747, #444);
  background: linear-gradient(#474747, #444);
  border: solid 2px #2f2f2f;
  box-shadow: inset 0 10px 15px 0 #3e3e3e;
}

header nav a:hover {
  color: red;
}
.logo {
  width: auto;
  border: 2px solid green;
  padding: 5px 5px 5px 5px;
  margin: 0px 10px 0px 0px;
  position: absolute;
  top: 50%;
  left: 88%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  animation: logobgch 3s infinite;
}

@keyframes logobgch {
  0% {
    background-color: rgb(243, 208, 9);
  }
  50% {
    background-color: rgb(2, 102, 2);
  }
  100% {
    background-color: rgb(252, 15, 2);
  }
}

/* nav bar end */
/*master */
h1 {
  font-family: "Bangers", cursive;
}
h1:hover {
  color: red;
  background: black;
  border-radius: 10px;
  box-shadow: inset 0 10px 20px 0 #ffffff;
}
body {
  box-sizing: border-box;
  width: 60%;
  padding-top: 60px;
  margin: auto;
  border: 2px solid black;
  height: max-content;
}

.master {
  text-align: center;
  margin: 10px;
  overflow: hidden;
  background-color: darkslategrey;
  border: 2px solid black;
}
.letters {
  border-radius: 10px;
  box-shadow: inset 0 10px 20px 0 #000000;
  font-size: 60px;
  height: 60px;
  margin: 10px;
  padding: 1px;
}

.master img {
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  filter: grayscale(100%);
}
.master img:hover {
  filter: unset;
}

/* master end */
/* main */

main {
  border: 2px solid black;
  background-color: darkslategrey;
  padding: 10px;
  margin: 10px;
  overflow: auto;
}

.Features {
  text-align: center;
  float: left;
  height: fit-content;
  width: 400px;
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
}

.About {
  text-align: center;
  float: right;
  height: fit-content;
  width: 400px;
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
}
.middle-img {
  width: 100%;
  height: fit-content;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  filter: grayscale(100%);
}
.middle-img:hover {
  filter: unset;
}

.Services {
  text-align: center;
  display: inline-block;
  height: 200px;
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
}

.Product {
  text-align: center;
  display: inline-block;
  height: 200px;
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
}

.Vision {
  text-align: center;
  display: inline-block;
  height: 200px;
  width: 30%;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  border: 2px solid white;
}
/* main end */
/*Footer*/

footer {
  background-color: darkslategrey;
  border: 2px solid black;
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

footer section {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border: 2px solid white;
}

footer p {
  margin: 20px 0;
}

footer div {
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  border: 2px solid white;
}
