/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Merriweather';
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat';
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1024px;
  min-height: 1px;
  margin: auto;
}

header {
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: darkslategray;
  position: fixed;
  top: 0;
  left: 100px;
  right: 100px;;
  padding-left: 75px;
  padding-right: 75px;
  text-align: center;
}

nav {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

nav a {
  color: rgb(188,188,188);
  font-size: 14px;
}

#nav-product {
  margin-left: 62px;
}

#nav-vision {
  margin-left: 63px;
}

#nav-features {
  margin-left: 64px;
}

#nav-about {
  margin-left: 63px;
}

#nav-contact {
  margin-left: 63px;
}

#logo {
  vertical-align: middle;
  margin-left: 92px;
}


#splash {
  margin-top: 132px;
  margin-bottom: 75px;
}

.innovation {
  display:inline-block;
  text-align: center;
  margin-left: 50px;
  margin-top: 65px;
  vertical-align: top;
  line-height: 0.85;
}

h1 {
  font-size: 72px;
}

.get-started {
  display:inline-block;
  border: 1px solid black;
  padding: 10px 50px;
  margin-top: 40px;
}

.code-snippet {
  display:inline-block;
  margin-left: 125px;
}

main, footer {
  margin-left: 74px;
  margin-right: 75px;
}

section {
  display: block;
}

p, .features, .about, h2, .services, .product, .vision {
  display: inline-block;
  vertical-align: top;
}

.features {
  width: 425px;
}

.about {
  width: 425px;
  margin-left: 20px;
}

.top-section {
  border-top: 1px solid black;
  margin-bottom: 40px;
  padding-top: 38px;
}

.middle-img {
  margin-left: 1px;
}

.bottom-section {
  margin-top: 42px;
  padding-bottom: 48px;
  border-bottom: 1px solid black;
  margin-bottom: 39px;
}

.services {
  width: 275px;
}

.product {
  width: 275px;
  margin-left: 20px;
}

.vision {
  width: 275px;
  margin-left: 21px;
}

small {
  text-align: center;
  display:block;
  font-size: 14px;
  margin-top: 56px;
  margin-bottom: 114px;
}

nav a {
  background-image: linear-gradient(to bottom, transparent 65%, #161616 10%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: background-size 0.4s ease;
}


nav a:hover {
  background-size: 100% 100%;
  cursor: pointer;
}
