/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin-left: 50px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

@keyframes nav-items {
	from 
	{
		color: grey;
	
	}
	to 
	{
		color: purple;
		font-size: 150%;
	}
}

nav {
	background-color: lightcoral;
	width: 878px;
	position: fixed;
	z-index: 1;
}

li {
	display: inline-block;
	width: 105px;
	text-decoration: none;
	color: grey;
	
}

li:hover {
	animation: nav-items 3s;
}

.last-li {
	width: 148px;
}

.title {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 878px;
	height: 350px;
	background-image: url("../img/header-img.png");
	color: purple;
	margin: 75px;
	background-repeat: no-repeat;
	background-position: center;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 450%;
    margin-bottom: 0px;
    transition: margin-top 4s;
    margin-top: 130px;
}

section {
    margin-top: 50px;
}
.virtual {
    display: block;
    width: 878px;
}

.divs {
    display: inline-block;
    width: 300px;
}

footer {
    font-size: 75%;
    margin-top: 100px;
	margin-left: 350px;
	margin-bottom: 100px;
}