

.glasses {
	width: 45%;
	display: inline-block;
	padding-top: 45px;
	
}

.vision-text {
	width: 45%;
	display: inline-block;
	padding: 20px;

}

.about-vision {
	border-bottom: 1px solid black;
	padding-bottom: 30px;
}

.vision-text p {
	
	width: 100%;
	vertical-align: top;

}

.eye-doc {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

footer p {
	padding-top: 60px;
	text-align: center;
	vertical-align: top;
	padding-bottom: 100px;
	font-family: 'Saira Stencil One', cursive;
}
