/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	margin: 0 auto;
	width: 900px;
}

/* Navigation */
nav {
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-top: 25px;
	word-spacing: 48px;
	height: 20px;
  /* Stretch Goal Give the navigation a background color and have it be fixed to the top of the page so that it scrolls with the user. */
  position: fixed;
  background-color: inherit;
}

a {
	text-decoration: none;
	font-size: 14px;
	color: lightgrey;
	padding-left: 15px;
	word-spacing: 100px;
}

/* Header */

header {
	padding-bottom: 36px;
	padding-top: 100px;
}

.header-text {
	float: left;
	width:50%;
	overflow:hidden;
	padding-top: 45px;
}

.header-text h1 {
	font-size: 78px;
	text-align: center;
	line-height: 0.35;
	padding-left: 50px;
	padding-top: 33px;
	letter-spacing: 3px;
}

.header-text button {
	font-size: 17px;
	color: grey;
	width: 173px;
	height: 33px;
	margin-top: 30px;
	margin-left: 160px;
}

.header-img {
	align: right;
	width:50%;
	overflow:hidden;
	padding-bottom: 30px;
	padding-left: 55px;
}


/* Handles Features and About Section */

.section-top-a {
	float:left;
	width:50%;
	overflow:hidden;
	padding-left: 10px;
	padding-right: 5px;
}

.section-top-b {
	float:left;
	width:50%;
	overflow:hidden;
	padding-left: 10px;
}

.top-content h3 {
	text-align: left;
	padding-top: 30px;
	font-weight: 550;
}

.top-content p {
	text-align: left;
	line-height: 1.15;
	padding-bottom: 25px;
	font-weight: 550;
}

/* Handles Middle Img */

.middle-img {
	float:left;
	width: 100%;
	overflow:hidden;
	padding: 10px;
}

/* Handles Services, Product, and Vision section */

.section-bot-a {
	float:left;
	width: 33.33%;
	width: calc(100% / 3);
	overflow:hidden;
	padding-left: 10px;
	padding-right: 5px;
}

.section-bot-b {
	float:left;
	width: 33.33%;
	width: calc(100% / 3);
	overflow:hidden;
	padding-left: 10px;
	padding-right: 5px;
}

.section-bot-c {
	float:left;
	width: 33.33%;
	width: calc(100% / 3);
	overflow:hidden;
	padding-left: 9px;
}

.bottom-content h3 {
	text-align: left;
	padding-top: 30px;
	font-weight: 550;
}

.bottom-content p {
	text-align: left;
	line-height: 1.15;
	padding-bottom: 45px;
	font-weight: 550;
}

/* Black line above top section and below bottom section */

hr.line1 {
  border-top: 1px solid black;
}

/* Contact and Address section */

.contact h3 {
	padding-top: 30px;
	padding-left: 13px;
}

.add-loc {
	padding-left: 10px;
	line-height: 1.2;
}

.add-num {
	padding-left: 10px;
}

.add-email {
	padding-left: 10px;
	padding-top: 2px;
}

/* Footer Copyright */

footer p {
	text-align: center;
	padding-top: 57px;
	padding-bottom: 100px;
	font-size: 14px;
}
