/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
    width: 880px;
    margin: auto;
    position: relative;
}
/*first container*/
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 30px;
}
nav {
    display: flex;
    justify-content: space-between;
    flex: 0.7;
}
nav a {    
    text-decoration: none;
    color: gray;
    padding-top: 30px;
}
.logo{
    display: flex;
    padding-top: 20px;
}
/* end first container*/

/*second container CTA*/
.cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cta-text {
     width: 50%;
    text-align: center;
}
.cta-text h1{
    font-size: 350%;
}
/* end of second container*/

/*third container - main-content*/
.main-content {
    border-top: solid gray 2px;
    margin-top: 30px;
}
.top-content {
    padding: 30px 0 30px;
    display: flex;
    justify-content: space-between;
    
}
/*end of third container*/

/* ****fourth container bottom-content */
.bottom-content {
    margin-top: 30px;
    border-bottom: solid gray 2px;
    padding-bottom: 30px;
    display:flex;
    justify-content: space-between;
}
.bottom-content .text-content {
    padding: 10px;
}
.bottom-content .text-content:first-child {
    padding-left: 0;
}
.bottom-content .text-content:last-child {
    padding-right: 0;
}
/* end of fourth container*/

/* start contact*/
.contact {
    padding: 30px 0 30px;
}
footer {
    text-align: center;
    padding-bottom: 80px;
}

.contact p{
    margin: 20px 0;
}
/* end contact*/
