/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 20px;
}

/* Your code starts here! */
body nav a {
	text-decoration: none;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	width: 50px;
	height: 30px;
	padding: 30px;
	box-sizing: border-box;
	border: none;
	margin: 30px;
	margin-top:40px;
}
.title {
	display: inline-block;
	padding: 20px 50px 20px 50px;
	box-sizing: border-box;
}
header h1 {
	font-size: 80px;
	text-align: center;
}
button {
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;

	background-color: white;
	border: 1px solid black;
	padding: 5px 45px;
	text-align: center;
	
}
.top, .row {
	margin: 10px 150px;
}
.coltop {
	display: inline-block;
	width: 460px;
	padding: 50px 20px;
	box-sizing: border-box;
}
.middle-img {
	display: inline;
	width: 100%;
	padding: 0 100px;
	box-sizing: border-box;
}
.bottom {
	margin: 10px 120px;
}
.colbot {
	display: inline-block;
	width: 320px;
	padding: 50px 20px;
	box-sizing: border-box;
}
.contact {
	padding-left: 120px;
	line-height: 1.2;
}
.contact-header{
	margin: 50px 0 20px 0;
}

p#phone {
	padding: 10px 0;
}

footer{
	padding: 20px 0;
	text-align: center;
}