/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	
}
/* * {
	outline: yellow 2px solid;
} */

.container {
   padding: 50px;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-grow: 5;
}

.logo {
	display: flex;
    justify-content: flex-end;
}

 .cta {
	display: flex;
	justify-content: space-around;
	padding: 50px;
}

.cta-text {
	display: flex;
	flex-direction: column;
	flex-grow: 5; 
	
}

.cta h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 5;
}



.cta img {
	display: flex;
	flex-shrink: 5;
}


.main-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 50px;
	
}

.top-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}

.middle-img {
	display: flex;
	justify-content: center;
	margin: 5px;
}

.bottom-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.contact {
	display: flex;
	justify-content: column;
	margin: 10px;
}

footer {
	display: flex;
	justify-content: center;
	padding: 20px;
} 