/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 10px;
	padding: 10px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-grow: 1;
}
.cta {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 80px;
}
.cta .cta-text{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.cta .cta-text button{
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid black;
}
.main-content {
	border-top: 3px solid black;
	display: flex;
	flex-direction: column;
}

.top-content{
	display: flex;
	flex-direction: row;
	font-size: 20px;
}
.bottom-content{
	display: flex;
	flex-direction: row;
	font-size: 20px;
}
.contact{
	border-top: 3px solid black;
}
footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
