/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Start nav bar */
/* 
header {
	padding: 20px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	font: grey;
	
}
nav {
	width: 79%;
	display: inline-block;
}
nav a {
	margin: 40px;
	color: rgb(185, 185, 185);
	text-decoration: none;
}

.logo {
	padding-top: 5px;
	vertical-align: top;
}



.cta {
	border-bottom: 1px solid gray;
	margin: 50px 20px 20px 20px;
	padding-bottom: 30px;
}
.cta-text {
	font-size: 80px;
	width: 50%;
	text-align: center;
	display: inline-block;
}

.cta image {
	width: 50%;
	display: inline-block;
}

.cta-text button {
	border: 1px solid gray;
	position: relative;
	top: -50px;
	height: 30px;
	width: 100px;
}



.main-content {
	border-bottom: 1px solid gray;
	margin: 0px 20px 50px 20px;
	padding-bottom: 30px;
}

.top-content .text-content {
	display: inline-block;
	width: 49%;
	padding: 20px 0px 20px 0px;
}

.middle-img {
	width: 100%;

}

.bottom-content .text-content {
	display: inline-block;
	width: 32%;
	padding: 20px 0px 20px 0px;
}



.contact {
	margin-left: 20px;
}

.contact p {
	margin: 0px 0px 20px 0px;
}

footer {
	text-align: center;
} */


.container {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
  }
  
  /* header */
  header {
	display: flex;
	/* border: solid orange; */
	justify-content: space-between;
	align-items: center;	
	
  }

  header nav {
	display: flex;
	/* border: solid green; */
	justify-content: space-around;
	width: 75%;
	
	
  }
  
  header nav a {
	font-size: 14px;
	color: gray;
	text-decoration: none;
  }
  
  header nav a:hover {
	text-decoration: underline;
  }
   
  
  /* cta */
  
.cta {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 44px;
	/* border: solid red; */
	font-size: 77px;
}

  
  .cta .cta-text button {
	background: white;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
  }
  
  .cta .cta-text button:hover {
	background: black;
	color: white;
  }
  
  /* .cta img {
	display: inline-block;
	margin-top: 69px;
  } */
  
  .main-content {
	border-top: 1px solid black;
	margin-top: 76px;
	padding-top: 39px;
	border: solid red;
}

  /* .main-content .text-content {
	  padding: 2px;
  } */
  
  .main-content .top-content {
	display: flex;
	justify-content: space-between;
	/* border: solid red; */
  }

  .main-content .top-content .text-content {
	width: 47%;
} 
    
  .main-content .middle-img {
	margin-top: 45px;
	width: 100%;
  }
  
  .main-content .bottom-content {
    display: flex;
	justify-content: space-between;
	margin-top: 45px;
	/* border: solid red; */
  }
  
  .main-content .bottom-content .text-content {
	  width: 30%;
  } 
  .contact {
	margin-top: 45px;
	border-top: 1px solid black;
	/* padding: 39px 10px 0; */
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
  }
  
  
  footer {
	margin: 32px 0;
	text-align: center;
	font-size: 14px;
	/* border: solid red; */
  }