/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

* {
	box-sizing:border-box;
}

a {
	text-decoration: none;
	color: lightgray;
}

h1 {
	font-size: 125px;
}

h4 {
	font-size: 30px;
}

p {
	font-size: 30px;
	padding: 10px 0px;
}

section {
	padding: 50px 0px;
}

button {
	color: black;
	background-color: white;
	font-size: 20px;
	border: 1px solid black;
	margin: 30px;
	padding: 10px 50px;
}

.container {
	display: inline-block;
}

header {
	display: inline-block;
	padding: 50px 0px;
	align-items: center;
	justify-content: space-around;
}

header img {
	float: right;
}

.top-content .text-content {
    width: 49%;
}

.bottom-content .text-content {
    width: 32%;
}
.text-content {
    margin: 50px 0px;
}

.ul {
    display: flex;
    flex-direction: column;
}

footer {
	text-align: center;
    margin-bottom: 200px;
}

footer p {
    font-size: 23px;    
}

section.contact {
	padding-top: 0px;
}