/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
	width: 1000px;
	margin: 0;
	margin-left: 40px;
}

/* header */

header {
	display: flex;
	justify-content: space-around;
}

header nav {
	display: flex;
	justify-content: space-around;
	width: 691px;
	margin-top: 35px;
}

header nav a {
	font-size: 14px;
	color: gray;
	text-decoration: none;
}

header nav a:hover {
	text-decoration: underline;
}

header .logo {
	margin-top: 25px;
}

/* cta */

.cta {
	display: flex;
	justify-content: space-around;
}

.cta .cta-text {
	display: flex;
	flex-direction: column;
	font-size: 77px;
	margin-top: 120px;
	text-align: center;
	padding: 0px 90px;
}

.cta .cta-text button {
	background-color: white;
	align-self: center;
	margin: 6px;
	padding: 8px 44px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
}

.cta .cta-text button:hover {
	background-color: black;
	color: white;
}

.cta img {
	align-self: flex-end;
	margin: 69px;
}

.main-content {
	border-top: 1px solid black;
	padding-top: 39px;
}

.main-content .top-content {
	display: flex;
	padding: 0 5px;
}

.main-content .top-content .text-content {
	width: 425px;
	margin-right: 40px;
}

.main-content .middle-img {
	margin-top: 45px;
}

.main-content .bottom-content {
	display: flex;
	margin-top: 37px;
}

.main-content .bottom-content .text-content {
	width: 277px;
	margin-right: 20px;
}

.contact {
	margin-top: 57px;
	border-top: 1px solid black;
	padding: 39px 10px 0;
}

.contact p {
	margin: 20px 0;
}

footer {
	margin: 32px 0;
	text-align: center;
	font-size: 14px;
}
