/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Start CSS */
body {
	background-color: black;
}

.container {
	background-color: white;
	width: 880px;
	padding: 0 5% 0;
	margin: auto;
}

/* header */

header {
	display: block;
	height: 80px;
	vertical-align: middle;
	padding-top: 10px;

}

header nav {
	display: inline-block;
	vertical-align: middle;
	float: left;
	height: 80px;
	padding: 20px 0 20px 0;
}

header nav a {
	text-decoration: none;
	color: lightgrey;
	margin-right: 50px;
  font-size: 12px;
	vertical-align: middle;
	font-family: 'Titillium Web';
	font-weight: bold;


}

header nav a:last-child {
	margin-right: 0px;
}

header .logo {
	display: inline-block;
	float: right;
	vertical-align: middle;
  padding: 10px 0 10px 0;


}

/* CTA Section */

.cta {
	display: inline-block;
}

.cta .cta-text {
	display: inline-block;
	float: left;
	text-align: center;
	padding: 60px 80px 60px 80px;

}

.cta .cta-text h1 {
	font-size: 65px;
	font-family: 'Bangers';
}

.cta .cta-text button {
  border: 1px solid black;
	background-color: white;
	color: black;
	font-size: 14px;
	font-weight: 700;
	padding: 5px 30px 5px 30px;
	font-family: 'Titillium Web';

}

.cta img {
	display: inline-block;
	float: right;
	padding-top: 20px;
	width: 320px;
}

/* Main Content Section  */

.main-content {
	padding: 20px 0 20px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.main-content .top-content {
	display:inline-block;
}

.main-content .top-content .text-content {
	display: inline-block;
}

/* .main-content .top-content:first-child {
	float: left;
	width: 300px;
	display:inline-block;
}
.main-content .top-content:last-child {
	float: right;
	display:inline-block;
} */

/* Contact Section */
