body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-family: 'Bangers', cursive;
}

a {
    color: #b0b0b0;
    text-decoration: none;
}

ul.flex-container {
    display: flex;
    justify-content: space-around;
}

.main-container {
    margin: 2.5% auto 0;
    width: 50%;
}

div.top {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.col {
    width: 25%;
}

.col h1 {
    font-size: 5em;
}

p#cta {
    text-align: center;
}

p>a {
    border: 1px solid black;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    color: black;
    font-size: 1.5em;
}

.mid {
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5% 0;
}

div.mid .mid-bar-img {
    margin: 2.5% 0;
}

footer {
    padding-top: 5%;
    text-align: center;
}