/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container{
	width: 880px;
	/* border: 1px solid red; */
	box-sizing: content-box;
	margin: 20px 30px;
}

.top-title {
	display: inline-block;
	width: 876px;
	margin: 40px 0 0 0;
	border-bottom: 1px solid black;
	padding-bottom: 55px;
}

.inline {
	display: inline-block;
}

.container .half {
	width: 50%;
}

.container .text-half {
	width: 49%;
	margin: 45px 0;
	display: inline-block;
}

.bottom-content {
	border-bottom: 1px solid black
}
.container .main .text-third {
	width: 33%;
	display: inline-block;
	margin: 45px 0;
}

/* header nav {
	display: inline-block;
	vertical-align: middle;
} */

.logo {
	margin: 10px 0 0 85px;
	position: relative;
	top: 10px;
}

header nav { 
	margin: 0 0 40px 0;
}

header nav a {
	margin: 0 20px;
	text-decoration: none;
	color: lightgrey;
}

.title-text {
	font-size: 50pt;
	display: inline-block;
	box-sizing: border-box;
	width: 380px;
	text-align: center;
	padding: 0 20px 0 90px;
	margin: -10px 0 0 0;																					
}

.title-text h1 {
	position: relative;
	top: -45px;
}

button {
	background: white;
	width: 140px;
	height: 27px;
	border: 1px solid black;
	position: relative;
	top:-65px;
}

.top-img {
	display: inline-block;
	padding-left: 70px;
}

.contact {
	margin: 35px 0;
}

.contact p {
	margin: 20px 0;
}

footer {
	text-align: center;
}