


* {
    box-sizing: border-box;
}








.container {
	padding: 30px;
	margin-right:20px

	
}



.header {
	display: flex;
	flex-direction: row; 
	

}
nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:1000px;
	list-style: none;
}
header img {
	padding-left: 120px;
    
}
a {
	text-decoration: none;
	color: black;
}

.section1 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 100px;
	margin-right:2px;



   
}

.img1 {
	padding-left: 300px;


}

h1 {
	font-size: 70px;

	text-align: center; 
	
}


.div1{
	display: flex;
	flex-direction: column;
	align-self: center;

}
.div1 h1 {
font-size: 75px;
font-style: italic bold ;

}

button {
	width: 190px;
	height: 40px;
	align-self:center;
	font-size: 17px;



}


.main-content{
	margin-top: 120px ;
	padding-top: 40px;
	border-top: 2px solid black;
}



.top-content{
	display: flex;
	flex-direction: row;
}
.top-content .text-content{
	width: 800px;
}
.middle-img{
	padding-top: 30px;
width: 1360px;
}


.bottom-content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 2px solid black;
    
	padding-bottom: 50px
}


.bottom-content .text-content {
	width: 440px;
}


.contact{
	display: flex;
	flex-direction: column;


}

footer{
	display :flex;
	justify-content: center;
margin-top: 100px;
margin-bottom: 100px;
font-size: 20px;

}



 h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
}
































