/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

/* My CSS starts here */


.container {
	width: 80%;
	margin: 0 auto;
}

/* Navagation Starts */

header {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 15px;	
}

header nav ul {
	display: flex;
}

header nav ul li {
	padding-right: 30px;
}

header nav ul li a {
	color: gray;
	text-decoration: none;
}

/* Navagation Ends */


/* Logo of the page starts */
.cta {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.cta .cta-text {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 80px;
	margin-top: 35px;
}

.cta .cta-text button {
	display: flex;
	justify-content: center;
	height: 50px;
	width: 170px;
	font-size: 24px;
	margin-left:70px;
}
/* Logo of the page ends */

/* Main content of the page starts */
.main-content .top-content {
	display: flex;
	margin-top: 30px;
	border-top: 1px solid black;
	padding-top: 20px;
}

.main-content .text-content {
	margin-right: 50px;
	padding-bottom: 30px;
}

.main-content .middle-img {
	width: 100%;
}

.main-content .bottom-content {
	display: flex;
	border-bottom: 1px solid black;
	padding: 30px 0px;
}

.main-content .bottom-content .text-content {
	width: 30%;
	margin-right: 20px;
}


/* Main content of the page ends ends */

/* Contact section starts*/
.contact {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.contact p {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
/* Contact section ends*/



/* footer section starts */

footer {
	display: flex; 
	justify-content: center;
	padding: 30px 0 50px 0;
}

/* footer ends */
