/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

/* ----------------------------------------- */

* {
    box-sizing: border-box;
}

a {
	text-decoration: none;
	color: gray;
}

h1 {
	font-size: 125px;
}

h4 {
	font-size: 30px;
}

p {
	font-size: 30px;
	padding: 10px 0px;
}

section {
    padding: 50px 0px;
}

li {
    font-size: 25px;
}

button {
	border: 1px solid black;
	color: black;
	background-color: white;
	display: inline-block;	
	font-size: 30px;
	margin: 30px;
	padding: 7px 60px;
}

.container {
    margin: 0% 7%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav {
    flex-grow: 6;
    flex-basis: 0;
}

header img {
    flex-grow: 2;
    flex-basis: 0;
    width: 10%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

section.cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 120px;
}

div.cta-text {
    text-align: center;
}

section.cta img {
    width: 40%;
}

section.main-content {
    display: flex;
    flex-direction: column;
}

section.main-content img {
    width: 100%;
}

div.top-content {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}

div.bottom-content {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

div.text-content {
    display: flex;
    flex-direction: column;    
}

.top-content .text-content {
    width: 49%;
}

.bottom-content .text-content {
    width: 32%;
}
.text-content {
    margin: 50px 0px;
}

.ul {
    display: flex;
    flex-direction: column;
}

footer {
	text-align: center;
    margin-bottom: 200px;
}

footer p {
    font-size: 23px;    
}

section.contact {
	padding-top: 0px;
}