/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}




/* color borders */
.top-section {
	position: relative;
	height: 50px;
}
	


/* code starts here */
.container {
	margin: 0 auto;
	width: 878px;
	height: 1440px;
	position: relative;
}




.top-navigation a {
	color: gray;
	padding-right: 64px;
	text-decoration: none;

}

.top-navigation {
	position: absolute;
	display: inline;
	top: 35px;
}

.top-logo {
	position: absolute;
	display: inline-block;
	right: 0;
	top: 25px;
}




.mid-content {
	position: absolute;
	display: inline-block;
	font-size: 74px;
	text-align: center;
	margin: 140px 0px 0px 45px;
	width: 380px;
}

.mid-text {
	letter-spacing: 2px;
}

.mid-img {
	position: absolute;
	display: inline-block;
	right: 0;
	margin: 80px 0px 0px 0px;
}

.mid-button {
	background-color: white;
	border: 1px solid black;
	color: black;
	padding: 8px 45px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;	
}




.above-pic-section {
	position: relative;
}

.first-divider {
	/* position: absolute; */
	margin-top: 538px;
}

.features {
	position: absolute;
	display: inline-block;
	top: -548px;
	margin: 0px 450px 0px 0px;
	line-height: 1.1;
}

.about {
	position: absolute;
	display: inline-block;
	right: 0;
	top: -548px;
	width: 425px;
	line-height: 1.1;
}




.lower-img {
	position: absolute;
	display: inline-block;
	top: 600px;
	margin: 170px 0px 0px 0px;
}




.services {
	position: absolute;
	display: inline-block;
	top: 990px;
	width: 278px;
	line-height: 1.1;
}

.product{
	position: absolute;
	display: inline-block;
	top: 990px;
	width: 278px;
	margin-left: 300px;
	line-height: 1.1;
}

.vision {
	position: absolute;
	display: inline-block;
	top: 990px;
	right: 0; 
	width: 278px;
	line-height: 1.1;
}

.second-divider {
	margin-top: 584px;
}




.address {
	position: absolute;
	display: inline-block;
	margin-top: 30px;
}

.footer-text {
	position: absolute; 
	display: block;
	margin-top: 65px;
	margin-left: 359px;
	width: 200px;
	font-size: 14px;
}