/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

/* My code here */
body {
	display:flex;
	flex-direction:column;
	width:100%;
	max-width:1000px;
	margin:0 auto;
}

header {
height:75px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav {
width:calc(100% - 183px);
}

nav ul {
display:flex;
justify-content:flex-start;
flex-wrap:wrap;
}

nav ul li {
flex-grow:0.15;
}

nav ul li a {
	text-decoration: none;
	color:gray;
	font-size:12px;
	}

header .logo {
margin-right:20px;
}

section.cta {
display:flex;
justify-content:center;
align-items:center;
border-bottom:1px solid black;
padding: 50px 30px;
justify-content:space-around;
}

div.cta-text {
display:flex;
flex-direction:column;
align-items:center;
}

div.cta-text h1 {
	font-size:72px;
	text-align:center;
}

section.cta img {

}

div.cta-text button {
	border:1px solid black;
	text-align:center;
	height:20px;
	width:150px;
}

.middle-img {

}

section.main-content {
display:flex;
flex-direction:column;
border-bottom:1px solid black;
padding-bottom: 20px;
}

div.top-content {
	display:flex;
}

div.bottom-content {
	display:flex;
}

div.top-content .text-content, div.bottom-content .text-content {
	margin:20px 10px;
}

section.contact, footer {
	margin-top:20px;
}

section.contact p {
	margin-bottom: 18px;
}
footer {
	text-align:center;
}