/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
html{
	box-sizing: border-box;
	margin: 0;
	width: 1400px;
	white-space: wrap;
}
body {
	display: flex;
	justify-content: center;
	margin: 0;
}
header {
	display:flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
	flex-grow: 1;
	align-items: stretch;
	padding-top: 20px;
	padding-right: 50px;
}
 li a{
	display: flex;
	align-items: space-between;
}
li {
	display: inline-flex;
	flex-direction: row;
	font: color LightGray;
	margin: 0 70px;
	padding-top: 10px;
	flex-wrap: nowrap;
	
}

.main-content{
	display: inline-flex;
	flex-direction: column;
}
.cta {
	display: inline-flex;
	text-align: center;
	vertical-align: top;
	width: 100%;
	justify-content: center;
	align-items: space-between;
	padding-bottom: 40px;
}
.cta img{
	position: relative;		
	height: auto;	
	margin: 0;
	padding-top: 40px;
}
div .cta-text {
margin-top: 100px;
margin-right: 200px;	
}
div .cta-text h1{
font-size: 80px;
}
.bottom-content{
	display: inline-flex;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	border-spacing: 100px;
}
.bottom-content{
	display:inline-flex;
}

.contact{
	display: inline-flex;
	flex-direction: column;
	margin-left: 50px;
	margin-bottom: 50px;
	line-height: 30px;
}
footer {
	text-align: center;
	margin-bottom: 100px;
}
p{
	margin-left: 10px;
	
}
.top-content {
	display: inline-flex;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	border-spacing: 100px;
}
h4 {
	margin-left: 10px;
}
.middle-img{
	display: inline-flex;
	padding: 100px;
	width: 100%;
}