*{
    box-sizing: border-box;
}

a:link{
    text-decoration: none;
    color: black;
}

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}*/

/* navbar */
header{
    padding: 0 0 0 160px;
}

.navli{

    margin: 40px 50px 50px 50px;
    float: left;
    color: gray;
    font-size: 120%;

}

.navli a:link{
    color: gray;
}

.navli a:visited{
    color: gray;
}

.navli a:hover{
    color: gray;
}

/* navlogo */

.logo{
    margin: 40px 0 0 285px;
}

/* title */

.cta-text{
    margin: 120px 0 0 0;
    padding: 0 750px 0 0;
    text-align: center;
    font-size: 90px;
}

.cta-text button{
    background-color: white;
    margin: 0 0 0 10px;
    padding: 5px 20px;
    font-size: 30%;
}

.cta-img{
    margin: -415px 0 50px 1090px;
}

/* content */

.main-content{
    padding: 20px 50px 20px 50px;
    border-style: solid;
    border-width: 1px 0 1px;
    border-color: black;
}