/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Your code starts here! */

.Nav {
    display: block;
    padding: 30px;
    margin: 20px;
    text-align: center;
}

nav a {
    padding: 4%;
}

.picture {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20%;
}

.adjust {
    display: inline-block;
    text-align: center;
    margin-left: 250px;
    vertical-align: middle;
    width: 80px;
}

h1 {
    font-size: 50px;
}

#same {
    vertical-align: none;
    margin-left: 20px;
    padding: 0 0 0 15px;
}

.prepic-title {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    margin: 5%
}

.prepic-title2 {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    margin: 5%;
}

.mid-pic {
    display: block;
    width: 100%;
}

.postpic-title {
    text-align: left;
    display: inline-block;
    width: 31%;
    vertical-align: middle;
    margin-top: 2%;
}

.bottom {
    font-size: 16px;
    display: block;
}

.copyright {
    text-align: center;
    font-size: 8px;
}

h3 {
    font-size: 20px;
}