html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1 {
    display: inline-block;
}

#Nav {
    display: inline;
    text-align: center;
    padding: 30px;
    margin: 20px;
}

#scale {
    height: 300px;
    width: 300px;
    display: inline;
}

#GI-img {
    height: 80px;
    width: 200px;
}

#prebutton {
    display: inline-block;
    margin: 30px;
    padding: 30px;
    font-size: 75px;
    text-align: center;
    font-style: italic;
}

#button {
    display: block;
    margin: 30px;
    margin-left: 200px;
    padding: 20px;
}