/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Top section */

body img {
    margin: 2em;

}

.container {
	width: 800px;
	margin: 0 auto;
}

nav {
	padding: 2% 5%;;
}

nav a {
	text-decoration: none;
	color: grey;
	padding: 1%;
}

nav .logo {
	padding-left: 120px;
}

header h1 {
	font-size: 70px;
	text-align: center;
	width: 50%;
}

header .header-text {
	display: inline-block;
	width: 50%;
	padding 100%;
}

button {
	font-size: 20px;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	margin: 10px;
	padding: 5px 20px;
}

/* Middle Section */

.section1 {
	display: flex;
	justify-content: space-around;
}

.middle-content {
	display: flex;

	padding: 2%;
}

.middle-img {
	width: 97%;
	padding-left: 5%;
	padding-bottom: 2%;
}

.bottom-content {
	display: flex;
	justify-content: space-evenly;

}

/* Bottom Section */


footer {
	text-align: center;
	margin: 32px 0;
	font-size: 16px;
}