/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

body {
  width: 80%;
  margin: auto;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  animation-name: bodyanimation;
  animation-duration: 5s;
}
nav {
  margin-bottom: 30px;
  width: 80%;
  position: fixed;
  background-color: rgba(255, 255, 0, 0.9);
}

nav li {
  width: 11%;
  display: inline-block;
  color: black;
}

nav img {
  margin-left: 5%;
}

header {
  display: inline-block;
  width: 100%;
  height: 400px;
  margin-top: 70px;
  background-image: url("../img/header-img.png");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 20px;
}

.title {
  display: inline-block;
  color: white;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

header p {
  display: inline-block;
  border: 1px solid white;
  padding: 5px 15px;
  width: 150px;
}

header img {
  display: inline-block;
  width: 45%;
  margin-left: 7%;
}

.content {
  color: white;
  font-size: 22px;
  display: inline-block;
  margin: 60px 0px;
  background-image: url("../img/mid-page-accent.jpg");
  background-size: cover;
}

.features {
  display: inline-block;
  width: 49%;
}

.about {
  display: inline-block;
  width: 49%;
}

.content {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.services {
  display: inline-block;
  width: 32%;
  margin-top: 50px;
}

.product {
  display: inline-block;
  width: 32%;
}

.vision {
  display: inline-block;
  width: 32%;
}

.contact {
  margin-top: 40px;
  background-color: rgba(255, 255, 0, 0.9);
}

footer {
  text-align: center;
  margin: 80px 0px;
  background-color: rgba(255, 255, 0, 0.9);
}

.middle-img {
  width: 100%;
}

header p:hover {
  color: red;
}

nav li:hover {
  color: red;
  transform: scale(1.2);
  cursor: pointer;
}

@keyframes bodyanimation {
  0% {
    background-color: green;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: white;
  }
}
